@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,900");
/*
COLORS
*/
/*
CATEGORY COLORS
*/
/*
  USAR ESTE MIXIN PARA OBTENER EL COLOR
*/
.category1 {
  background: #81C379;
}

.category-color1 {
  color: #81C379 !important;
}

.category2 {
  background: #E4B588;
}

.category-color2 {
  color: #E4B588 !important;
}

.category3 {
  background: #CB9B94;
}

.category-color3 {
  color: #CB9B94 !important;
}

.category4 {
  background: #5EA8C0;
}

.category-color4 {
  color: #5EA8C0 !important;
}

.category5 {
  background: #609BC8;
}

.category-color5 {
  color: #609BC8 !important;
}

.category6 {
  background: #FF9F22;
}

.category-color6 {
  color: #FF9F22 !important;
}

.category7 {
  background: #00A5AC;
}

.category-color7 {
  color: #00A5AC !important;
}

.category8 {
  background: #DBB937;
}

.category-color8 {
  color: #DBB937 !important;
}

.category9 {
  background: #AB95E1;
}

.category-color9 {
  color: #AB95E1 !important;
}

.category10 {
  background: #A88F8F;
}

.category-color10 {
  color: #A88F8F !important;
}

.category11 {
  background: #7F99A8;
}

.category-color11 {
  color: #7F99A8 !important;
}

.category12 {
  background: #BBAA9D;
}

.category-color12 {
  color: #BBAA9D !important;
}

.category13 {
  background: #48ACF0;
}

.category-color13 {
  color: #48ACF0 !important;
}

.category14 {
  background: #CC945D;
}

.category-color14 {
  color: #CC945D !important;
}

.category15 {
  background: #808080;
}

.category-color15 {
  color: #808080 !important;
}

.background-orange {
  background: #FF6A31 !important;
}

/*----------------------*/
.titulo-1 {
  font-weight: 800;
  font-size: 27px;
  text-transform: uppercase;
}

.titulo-3 {
  font-size: 20px;
  font-weight: 700;
}

.titulo-4 {
  font-size: 17px;
  font-weight: 700;
}

.titulo-5 {
  font-size: 14px;
  font-weight: 700;
}

.titulo-dashboard {
  margin: 0;
}

.dl-lines dt {
  white-space: normal;
}

.text-roboto {
  font-family: "Roboto", sans-serif !important;
}

.text-roboto-b {
  font-family: "Roboto", sans-serif !important;
  font-weight: 900;
}

.boton-naranja {
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  background: #FF6A31;
  padding: 10px;
  box-shadow: 0 3px 0 #972a00;
  font-weight: 600;
}

.boton-naranja:hover {
  text-decoration: none;
  color: white;
}

.boton-azul {
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  background: #0078de;
  padding: 10px;
  box-shadow: 0 3px 0 #002545;
  font-weight: 600;
}

.boton-azul:hover {
  text-decoration: none;
  color: white;
}

.boton-azul-no-shadow {
  font-size: 13px;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  background: #0078de;
  padding: 10px;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
}

.boton-azul-no-shadow a {
  color: white;
  text-decoration: none;
}

.boton-azul-no-shadow:hover, .boton-azul-no-shadow:active, .boton-azul-no-shadow:focus, .boton-azul-no-shadow:visited {
  text-decoration: none;
  color: white;
}

.inline-checkbox-label {
  list-style: none;
  padding: 0;
}

.inline-checkbox-label li {
  display: inline-block;
  margin-right: 10px;
}

.inline-checkbox-label li label {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  vertical-align: middle;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-sm-6 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-sm-6 {
    width: 50%;
  }
}

.no-link:link,
.no-link:hover,
.no-link:active,
.no-link:focus,
.no-link:visited {
  text-decoration: none;
}

*,
*:focus {
  outline: none !important;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

.container {
  margin: auto;
  max-width: 1200px;
  width: 95%;
}

img {
  max-width: 100%;
}

.btn-action {
  color: #333;
  border: 0;
  padding: 1.2em 2.6em;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-action.btn--azul {
  background-color: #0078de;
  color: #ffffff;
}

.btn-action.btn--azul:hover {
  background-color: #006ac5;
}

.btn-action.btn--azul:active {
  background-color: #005fb0;
}

.featured .btn-bing {
  letter-spacing: 4px;
  padding: 1.8em 3.5em;
}

.title-lines {
  position: relative;
}

.title-lines:before, .title-lines:after {
  content: "";
  position: absolute;
  height: 6px;
  border-radius: 4px;
  top: -14px;
  left: 0;
  right: 0;
  margin: auto;
}

.title-lines:before {
  width: 17px;
  background-color: #0078de;
  right: 41px;
}

.title-lines:after {
  width: 45px;
  background-color: #FF6A31;
  left: 40px;
}

.capsula {
  background-color: #0078de;
  padding: 0.2em;
  width: 25px;
  border-radius: 10px;
  display: none;
}

.super-capsula {
  display: none;
}

.main-header {
  background-color: #ff6a31;
  color: #ffffff;
  text-align: center;
}

.main-header--head {
  padding: 0.85em 0;
  position: relative;
  z-index: 10;
}

.main-header--logo {
  width: 235px;
}

.main-header--text .title {
  margin-bottom: 0.6em;
  font-size: 2.6rem;
  line-height: 1;
  margin-top: -14px;
}

.main-header--text .decription {
  position: relative;
}

.banner__btn-action,
.featured-btn-action {
  border-radius: 32px;
  max-width: 90%;
  position: relative;
  bottom: -27px;
  padding: 1.5em 2.6em;
  z-index: 10;
}

.featured-btn-action {
  display: none;
  margin: 1em auto;
}

.banner-landing {
  color: #ffffff;
  text-align: center;
}

.banner-landing .container {
  position: relative;
  z-index: 1;
}

.banner-landing__circle {
  border: 24px solid #FF9F22;
  border-radius: 50%;
  width: 135px;
  height: 135px;
  position: absolute;
  z-index: -1;
}

.banner-landing__img {
  margin: 0 0 0.88em;
  width: 450px;
}

.circle-md {
  left: -51px;
  bottom: 169px;
}

.circle-sm {
  width: 78px;
  height: 78px;
  border-width: 12px;
  top: -136px;
  right: 0px;
}

.featured {
  padding: 2.5em 0;
}

.featured__head {
  text-align: center;
  margin: 2em 0 1.7em;
}

.featured__title {
  font-weight: 900;
  margin-bottom: 0.3em;
  font-size: 1.7rem;
}

.featured__decription {
  color: #918f89;
  font-size: 0.75rem;
  font-weight: 600;
}

.featured-grid {
  width: 85%;
  margin: auto;
  text-align: center;
}

.featured__decription {
  font-size: 0.87rem;
}

.featured__item {
  margin-bottom: 0.5em;
  text-align: center;
}

.featured__item-img {
  display: inline-block;
  width: 97px;
  margin-right: 10px;
  vertical-align: top;
}

.featured__item-img img {
  width: 100%;
}

.featured__item-title {
  margin-bottom: 0.4em;
}

.featured__item-decription {
  display: inline-block;
  width: calc(100% - 80px);
}

.featured__item-decription p {
  font-size: 0.8rem;
  font-weight: 600;
}

.featured__item:last-child {
  margin-bottom: 0;
}

.map__title {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
}

.map__title span {
  display: block;
  color: #FF6A31;
  font-size: 2.05rem;
}

.map__img {
  position: relative;
  max-width: 135%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0.7em 0;
}

.divices-box {
  color: #0078de;
}

.divices-box__main {
  width: 85%;
  margin: auto;
}

.divices-box__img {
  width: 75px;
  margin-right: 14px;
  display: inline-block;
  vertical-align: middle;
}

.divices-box__text {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 105px);
}

.divices-box__title {
  margin-bottom: 0.5em;
}

.divices-box__decription {
  font-size: 0.7rem;
  font-weight: 700;
}

.divices-box__btn-action {
  font-size: 0.66rem;
  margin: auto;
  display: block;
  padding: 1.5em 2.6em;
  border-radius: 21px;
  position: relative;
  bottom: -22px;
}

.btn-contact {
  display: none;
}

.footer {
  background-color: #eaeaea;
  padding: 2em 0 1em;
}

.footer__logo {
  text-align: center;
}

.footer__logo img {
  width: 167px;
}

.footer__legal {
  text-align: center;
  font-size: 0.55rem;
  font-weight: 600;
}

@media (min-width: 600px) {
  .map__img {
    max-width: 100%;
  }
  .divices {
    margin: 4em 0;
  }
  .divices-box {
    border: 3px solid #0078de;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    max-width: 400px;
    padding: 2.5em 0 0;
  }
  .divices-box__decription {
    color: #333;
    line-height: 20px;
  }
  .featured-grid {
    width: 95%;
  }
  .featured__head {
    text-align: center;
    margin: 2.5em 0 3em;
  }
  .featured__title {
    font-weight: 900;
    margin-bottom: 0.3em;
    font-size: 1.75rem;
  }
  .featured__item {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1.7em;
  }
  .featured__item-description {
    font-size: 1.2rem;
  }
  .featured__item-description p {
    font-size: 0.96rem;
  }
  .footer {
    padding: 1.5em 0;
  }
  .main-header--text .title {
    font-size: 3rem;
  }
  .map__title {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .map__title span {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .main-header {
    text-align: left;
  }
  .main-header--head .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-header--text {
    margin-bottom: 4em;
  }
  .main-header--text .title {
    font-size: 3.5rem;
  }
  .main-header--text .decription {
    font-size: 1.3rem;
    width: 66%;
  }
  .btn-contact {
    display: block;
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.32);
    font-size: 0.75rem;
    font-weight: 800;
    color: #0078de;
    padding: 1em 2em;
  }
  .btn-contact:hover {
    background-color: #0078de;
    color: #ffffff;
  }
  .banner-landing {
    text-align: left;
  }
  .banner-landing .container {
    display: flex;
    align-items: flex-start;
  }
  .banner-landing__img {
    width: 55%;
    position: relative;
  }
  .banner-landing .banner__btn-action {
    background-color: #ffffff;
    color: #0078de;
    padding: 1.1em 1.6em;
    font-size: 0.95rem;
    letter-spacing: 0;
  }
  .banner-landing .banner__btn-action:hover {
    color: #ffffff;
  }
  .featured-grid {
    width: 100%;
  }
  .featured__item {
    width: 32%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
  .featured__item-img {
    width: 125px;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .featured__item-title {
    font-size: 1.5rem;
  }
  .featured__item-decription p {
    font-size: 1rem;
  }
  .featured-btn-action {
    display: block;
    letter-spacing: 2px;
    font-size: 1rem;
  }
  .featured .btn-bing {
    padding: 1.15em 2.5em;
  }
  .divices-box__main {
    display: flex;
    align-items: flex-start;
  }
  .divices-box__img {
    width: 115px;
  }
  .divices-box__title {
    font-size: 1.4rem;
  }
  .divices-box__text {
    width: calc(100% - 115px);
  }
  .map .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .map__title {
    font-weight: 800;
    font-size: 1.7rem;
  }
  .map__title span {
    font-size: 3.5rem;
  }
  .map__img {
    max-width: 780px;
  }
  .capsula {
    display: block;
  }
  .capsula-baner-1, .capsula-baner-2 {
    display: none;
  }
  .footer {
    padding: 1.5em 0 0.5em;
  }
  .footer__legal {
    display: none;
  }
}

@media (min-width: 950px) {
  .featured-grid {
    width: 80%;
  }
  .main-header {
    height: 492px;
    margin-bottom: 5em;
    position: relative;
  }
  .main-header .title {
    margin-top: 25px;
    font-size: 3.8rem;
  }
  .main-header--text {
    position: relative;
  }
  .super-capsula {
    display: block;
    background-color: #ffca2a;
    width: 47%;
    height: 180px;
    position: absolute;
    bottom: -82px;
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
  }
  .circle-md {
    left: inherit;
    right: 15%;
    bottom: -68px;
    border-bottom-color: white;
    border-left-color: white;
    transform: rotate(-45deg);
    z-index: 1;
  }
  .circle-sm {
    width: 240px;
    height: 240px;
    border-width: 37px;
    top: -12%;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 0;
  }
  .banner-landing .container {
    position: initial;
    z-index: 1;
    max-width: 1160px;
  }
  .capsula-baner-1, .capsula-baner-2 {
    display: block;
    position: absolute;
  }
  .capsula-baner-1 {
    top: 10px;
    left: -67px;
    width: 54px;
    padding: 0.12em;
    background-color: #ffca2a;
  }
  .capsula-baner-2 {
    bottom: -52px;
    left: 67%;
    width: 29px;
    padding: 0.12em;
  }
}

.list-guion {
  list-style: none;
  padding-left: 2em;
}

.list-guion li {
  position: relative;
  margin-bottom: 0.3em;
}

.list-guion li:before {
  content: '';
  position: absolute;
  top: 8px;
  left: -19px;
  margin: auto;
  width: 8px;
  height: 2px;
  background-color: #ff6a31;
}

.card-faq-answer {
  padding: 20px 15px;
  position: relative;
}

.card-faq-answer i {
  position: absolute;
  right: 7px;
  font-size: 10.2rem;
  top: 1px;
  z-index: -1;
  opacity: 0.05;
  color: black;
}

.card-faq-answer__question {
  font-size: 2rem;
  margin: 0 0 0.45em;
}

.card-faq-answer__question h4 {
  font-size: 0.65em;
  font-weight: 700;
}

.card-faq-answer__description {
  font-size: 0.93rem;
  font-weight: 600;
  color: #7d7d7d;
}

.card-faq-answer__description p, .card-faq-answer__description ul {
  line-height: 1.4;
}

.card-faq-answer__description p:last-child, .card-faq-answer__description ul:last-child {
  margin-bottom: 0;
}

.card-faq-answer:last-child {
  margin-bottom: 1.5em;
}

.card-oleb2b {
  background-color: #ff6a31;
  color: #ffffff;
  border-color: #ff6a31;
}

@media (min-width: 768px) {
  .featured__decription {
    font-size: 1.1rem;
  }
  .card-faq-answer__question h4 {
    font-weight: 800;
  }
  .card-faq-answer {
    padding: 20px 15px;
    margin-bottom: 15px;
    position: relative;
  }
  .card-faq-answer__question {
    font-size: 2rem;
  }
  .card-faq-answer__question {
    font-size: 2.5rem;
  }
  .card-faq-answer__question h4 {
    font-weight: 700;
  }
  .list-guion {
    max-width: 319px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .featured__item-img {
    width: 140px;
  }
  .banner-landing .banner__btn-action {
    padding: 0.9em 1.6em;
    font-size: 1.1rem;
  }
  .featured__title {
    font-size: 2.1rem;
  }
}

@media (min-width: 1140px) {
  .main-header {
    height: 515px;
  }
  .main-header--text .decription {
    font-size: 1.5rem;
    width: 66%;
  }
}

/*# sourceMappingURL=styles.css.map */
