#filesContainer{
  button{
    margin-top: 10px;
  }
}
.preview-files{
  div{
    position: relative;
    border: solid 1px #f1f1f1;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 10px;
    .close{
      padding-top: 0;
    }
    span{
      small{
        width: 78%;
        overflow: hidden;
        display: inline-block;
        position: relative;
        top: 4px;
      }
      i{
        margin-right: 10px;
        cursor: zoom-in;
      }
    }
    figure{
      display: none;
      width: 80px;
      height: 80px;
      position: absolute;
      background: white;
      top: 50%;
      transform: translateY(-50%);
      left: 30px;
      text-align: center;
      z-index: 99;
      box-shadow: 0 0 7px rgba(0,0,0,0.6);
      img{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-height: 100%;
        max-width: 100%;
        width: auto;
        display: block;
      }
    }
  }
}

#filesContainer input{
  display: none;
}