@charset "UTF-8";

/* untitled-font-3 */
@font-face {
  font-family: "untitled-font-3";
  src:url("../fonts/fontastic.eot");
  src:url("../fonts/fontastic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fontastic.woff") format("woff"),
    url("../fonts/fontastic.ttf") format("truetype"),
    url("../fonts/fontastic.svg#1495459926") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "untitled-font-3" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-3" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-2:before {
  content: "\61";
}
.icon-icon-14:before {
  content: "\62";
}
.icon-icon-1:before {
  content: "\63";
}
.icon-icon-3:before {
  content: "\65";
}
.icon-icon-6:before {
  content: "\66";
}
.icon-icon-12:before {
  content: "\6e";
}
.icon-idioma:before {
  content: "\6f";
}
.icon-icon-8:before {
  content: "\67";
}
.icon-icon-11:before {
  content: "\6b";
}
.icon-delete:before {
  content: "\70";
}
.icon-contact:before {
  content: "\71";
}
.icon-compradores:before {
  content: "\72";
}
.icon-check:before {
  content: "\73";
}
.icon-check-1:before {
  content: "\74";
}
.icon-edit:before {
  content: "\75";
}
.icon-favorito:before {
  content: "\76";
}
.icon-mensajes:before {
  content: "\77";
}
.icon-vendedores:before {
  content: "\78";
}
.icon-suplier-menber:before {
  content: "\79";
}
.icon-suplier:before {
  content: "\7a";
}
.icon-proveedores:before {
  content: "\41";
}
.icon-pais:before {
  content: "\42";
}
.icon-nuevo-usuraio:before {
  content: "\43";
}
.icon-x:before {
  content: "\44";
}
.icon-user:before {
  content: "\45";
}
.icon-menu:before {
  content: "\46";
}
.icon-icon-2-2:before {
  content: "\64";
}
.icon-menu:before {
  content: "\46";
}
.icon-icon-mensaje-2:before {
  content: "\47";
}
.icon-icon-menu-bold:before {
  content: "\48";
}
.icon-icon-9:before {
  content: "\49";
}
.icon-construccin:before {
  content: "\4a";
}
.icon-icon-7:before {
  content: "\4b";
}
.icon-icon-5:before {
  content: "\4c";
}
.icon-icon-15:before {
  content: "\4d";
}
.icon-icon-10:before {
  content: "\4e";
}
.icon-icon-13:before {
  content: "\6a";
}
.icon-icon-4:before {
  content: "\69";
}
.icon-dashboard:before {
  content: "\68";
}
.icon-certi:before {
  content: "\6c";
}
.icon-company:before {
  content: "\6d";
}
.icon-img:before {
  content: "\4f";
}
.icon-produ:before {
  content: "\50";
}
.icon-requests:before {
  content: "\51";
}
