@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,900');
@import '../../../pages/sass/_variables.scss';

$color-banner: #ff6a31;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-sm-6 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;

  @media (min-width: 768px) {
    &{
      width: 50%;
    }
  }

}
.no-link:link,
.no-link:hover,
.no-link:active,
.no-link:focus,
.no-link:visited{
  text-decoration: none;
}

*,
*:focus {
  outline: none !important;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

.container {
  margin: auto;
  max-width: 1200px;
  width: 95%;
}

img {
  max-width: 100%;
}

// componentes
.btn-action {
  color: #333;
  border: 0;
  padding: 1.2em 2.6em;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  &.btn--azul {
    background-color: $azul;
    color: #ffffff;
    &:hover {
      background-color: darken($azul, 5);
    }
    &:active {
      background-color: darken($azul, 9);
    }
  }
}

.featured .btn-bing {
  letter-spacing: 4px;
  padding: 1.8em 3.5em;
}

.title-lines {
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 6px;
    border-radius: 4px;
    top: -14px;
    left: 0;
    right: 0;
    margin: auto;
  }
  &:before {
    width: 17px;
    background-color: $azul;
    right: 41px;
  }
  &:after {
    width: 45px;
    background-color: $naranja;
    left: 40px;
  }
}

.capsula {
  background-color: $azul;
  padding: 0.2em;
  width: 25px;
  border-radius: 10px;
  display: none;
}

.super-capsula {
  display: none;
}

.main-header {
  background-color: $color-banner;
  color: #ffffff;
  text-align: center;
  &--head {
    padding: 0.85em 0;
    position: relative;
    z-index: 10;
  }
  &--logo {
    width: 235px;
  }
  &--text {
    .title {
      margin-bottom: 0.6em;
      font-size: 2.6rem;
      line-height: 1;
      margin-top: -14px;
    }
    .decription {
      position: relative;
    }
  }
}

.banner__btn-action,
.featured-btn-action {
  border-radius: 32px;
  max-width: 90%;
  position: relative;
  bottom: -27px;
  padding: 1.5em 2.6em;
  z-index: 10;
}

.featured-btn-action {
  display: none;
  margin: 1em auto;
}

//banner
.banner-landing {
  color: #ffffff;
  text-align: center;
  .container {
    position: relative;
    z-index: 1;
  }
  &__circle {
    border: 24px solid #FF9F22;
    border-radius: 50%;
    width: 135px;
    height: 135px;
    position: absolute;
    z-index: -1;
  }
  &__img {
    margin: 0 0 0.88em;
    width: 450px;
  }
}

.circle-md {
  left: -51px;
  bottom: 169px;
}

.circle-sm {
  width: 78px;
  height: 78px;
  border-width: 12px;
  top: -136px;
  right: 0px;
}

.featured {
  padding: 2.5em 0;
  &__head {
    text-align: center;
    margin: 2em 0 1.7em;
  }
  &__title {
    font-weight: 900;
    margin-bottom: 0.3em;
    font-size: 1.7rem;
  }
  &__decription {
    color: #918f89;
    font-size: 0.75rem;
    font-weight: 600;
  }
}

.featured-grid {
  width: 85%;
  margin: auto;
  text-align: center;
}

.featured__decription {
  font-size: 0.87rem;
}

.featured__item {
  //margin-bottom: 2.2em;
  margin-bottom: 0.5em;
  text-align: center;
  &-img {
    display: inline-block;
    width: 97px;
    margin-right: 10px;
    vertical-align: top;
    img {
      width: 100%;
    }
  }
  &-title {
    margin-bottom: 0.4em;
  }
  &-decription {
    display: inline-block;
    width: calc(100% - 80px);
    p {
      font-size: 0.8rem;
      font-weight: 600;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.map {
  &__title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    span {
      display: block;
      color: $naranja;
      font-size: 2.05rem;
    }
  }
  &__img {
    position: relative;
    max-width: 135%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0.7em 0
  }
}

.divices-box {
  color: $azul;
  &__main {
    width: 85%;
    margin: auto;
  }
  &__img {
    width: 75px;
    margin-right: 14px;
    display: inline-block;
    vertical-align: middle;
  }
  &__text {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 105px);
  }
  &__title {
    margin-bottom: 0.5em;
  }
  &__decription {
    font-size: 0.7rem;
    font-weight: 700;
  }
  &__btn-action {
    font-size: 0.66rem;
    margin: auto;
    display: block;
    padding: 1.5em 2.6em;
    border-radius: 21px;
    position: relative;
    bottom: -22px;
  }
}

.btn-contact {
  display: none;
}

// Footer
.footer {
  background-color: #eaeaea;
  padding: 2em 0 1em;
  &__link-logo {
  }
  &__logo {
    text-align: center;
    img {
      width: 167px;
    }
  }
  &__legal {
    text-align: center;
    font-size: 0.55rem;
    font-weight: 600;
  }
}

@media (min-width: 600px) {
  .map {
    &__img {
      max-width: 100%;
    }
  }
  .divices {
    margin: 4em 0;
  }
  .divices-box {
    border: 3px solid $azul;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    max-width: 400px;
    padding: 2.5em 0 0;
    &__decription {
      color: #333;
      line-height: 20px;
    }
  }

  .featured-grid {
    width: 95%;
  }

  .featured {
    &__head {
      text-align: center;
      margin: 2.5em 0 3em;
    }
    &__title {
      font-weight: 900;
      margin-bottom: 0.3em;
      font-size: 1.75rem;
    }
    &__item {
      width: 49%;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 1.7em;
      &-description {
        font-size: 1.2rem;
        p {
          font-size: 0.96rem;
        }
      }
    }
  }
  .footer {
    padding: 1.5em 0;
  }
  .main-header {
    &--text .title {
      font-size: 3rem;
    }
  }

  .map {
    &__title {
      font-size: 1.5rem;
      font-weight: 700;
      span {
        font-size: 2.5rem;
      }
    }
  }

}

@media (min-width: 768px) {
  .main-header {
    text-align: left;

    &--head {
      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    &--text {
      margin-bottom: 4em;
      .title {
        font-size: 3.5rem;
      }
      .decription {
        font-size: 1.3rem;
        width: 66%;
      }
    }
  }
  .btn-contact {
    display: block;
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.32);
    font-size: 0.75rem;
    font-weight: 800;
    color: $azul;
    padding: 1em 2em;
    &:hover {
      background-color: $azul;
      color: #ffffff;
    }
  }
  .banner-landing {
    text-align: left;
    .container {
      display: flex;
      align-items: flex-start
    }
    &__img {
      width: 55%;
      position: relative;
    }
    .banner__btn-action {
      background-color: #ffffff;
      color: #0078de;
      padding: 1.1em 1.6em;
      font-size: 0.95rem;
      letter-spacing: 0;
      &:hover {
        color: #ffffff;
      }
    }
  }
  .featured {
    &-grid {
      width: 100%;
    }
    &__item {
      width: 32%;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      &-img {
        width: 125px;
        display: block;
        text-align: center;
        margin: 0 auto;
      }
      &-title {
        font-size: 1.5rem;
      }
      &-decription p {
        font-size: 1rem;
      }
    }
  }
  .featured-btn-action {
    display: block;
    letter-spacing: 2px;
    font-size: 1rem;
  }
  .featured .btn-bing {
    padding: 1.15em 2.5em;
  }

  .divices-box {
    &__main {
      display: flex;
      align-items: flex-start;
    }
    &__img {
      width: 115px;
    }
    &__title {
      font-size: 1.4rem;
    }
    &__text {
      width: calc(100% - 115px);
    }
  }

  .map {
    .container {
      display: flex;
      flex-direction: column-reverse;
    }
    &__title {
      font-weight: 800;
      font-size: 1.7rem;
      span {
        font-size: 3.5rem;
      }
    }
    &__img {
      max-width: 780px;
    }
  }

  .capsula {
    display: block;
  }

  .capsula-baner-1, .capsula-baner-2 {
    display: none;
  }

  .footer {
    padding: 1.5em 0 0.5em;
    &__legal {
      display: none;
    }
  }
}

@media (min-width: 950px) {
  .featured {
    &-grid {
      width: 80%;
    }
  }

  .main-header {
    height: 492px;
    margin-bottom: 5em;
    position: relative;

    .title {
      margin-top: 25px;
      font-size: 3.8rem;
    }
    &--text {
      position: relative;
    }
  }
  .super-capsula {
    display: block;
    background-color: #ffca2a;
    width: 47%;
    height: 180px;
    position: absolute;
    bottom: -82px;
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
  }

  .circle-md {
    left: inherit;
    right: 15%;
    bottom: -68px;
    border-bottom-color: white;
    border-left-color: white;
    transform: rotate(-45deg);
    z-index: 1;
  }

  .circle-sm {
    width: 240px;
    height: 240px;
    border-width: 37px;
    top: -12%;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 0;
  }

  .banner-landing {
    .container {
      position: initial;
      z-index: 1;
      max-width: 1160px;
    }
  }

  .capsula-baner-1, .capsula-baner-2 {
    display: block;
    position: absolute;
  }

  .capsula-baner-1 {
    top: 10px;
    left: -67px;
    width: 54px;
    padding: 0.12em;
    background-color: #ffca2a;
  }

  .capsula-baner-2 {
    bottom: -52px;
    left: 67%;
    width: 29px;
    padding: 0.12em;
  }
}

.list-guion {
  list-style: none;
  padding-left: 2em;
  li {
    position: relative;
    margin-bottom: 0.3em;
    &:before {
      content: '';
      position: absolute;
      top: 8px;
      left: -19px;
      margin: auto;
      width: 8px;
      height: 2px;
      background-color: $color-banner;
    }
  }
}

.card-faq-answer {
  padding: 20px 15px;
  position: relative;

  i {
    position: absolute;
    right: 7px;
    font-size: 10.2rem;
    top: 1px;
    z-index: -1;
    opacity: 0.05;
    color: rgb(0, 0, 0);
  }

  &__question {
    font-size: 2rem;
    margin: 0 0 0.45em;
    h4 {
      font-size: 0.65em;
      font-weight: 700;
    }
  }

  &__description {
    font-size: 0.93rem;
    font-weight: 600;
    color: rgb(125, 125, 125);
    p, ul {
      line-height: 1.4;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &:last-child {
    margin-bottom: 1.5em;
  }
}

.card-oleb2b {
  background-color: $color-banner;
  color: #ffffff;
  border-color: $color-banner;
}

@media (min-width: 768px) {

  .featured__decription {
    font-size: 1.1rem;
  }

  .card-faq-answer__question h4 {
    font-weight: 800;
  }

  .card-faq-answer {
    padding: 20px 15px;
    margin-bottom: 15px;
    position: relative;

    &__question {
      font-size: 2rem;
    }

  }

  .card-faq-answer {

    &__question {
      font-size: 2.5rem;
      h4 {
        font-weight: 700;
      }
    }

  }

  .list-guion {
    max-width: 319px;
    text-align: left;
  }
}

@media (min-width: 992px) {

  .featured {
    &__item {
      &-img {
        width: 140px;
      }
    }
  }

  .banner-landing .banner__btn-action {
    padding: 0.9em 1.6em;
    font-size: 1.1rem;
  }

  .featured__title {
    font-size: 2.1rem;
  }

}

@media (min-width: 1140px) {
  .main-header {
    height: 515px;
    &--text .decription {
      font-size: 1.5rem;
      width: 66%;
    }
  }
}
