.direct-access{
  a{
    color: inherit;
    text-decoration: none;
  }
  .item{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    background: #f7f7f7;
    border-radius: 3px;
    transition: all 0.3s ease;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    &:hover{
      background: darken(#f7f7f7,3);
    }
    .foot{
      padding: 20px 25px;
      background: white;
    }
    .membresia{
      img{
        width: 120px;
      }
    }
    button{
      border: none;
      border-radius: 15px;
      padding: 0 10px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      position: relative;
      top: -20px;
      opacity: 0;
      transform: scale(0.9);
      transition: all 0.3s ease;
      &.active{
        opacity: 1;
        top: 0;
        transform: scale(1);
      }
      &.update{
        background: $naranja;
        color: white;
        &:hover{
          background: darken($naranja,8);
        }
      }
      &.add-product{
        background: $verde;
        color: white;
        i{
          margin-right: 3px;
        }
        &:hover{
          background: darken($verde,8);
        }
      }
      &.memberships{
        background: $azul;
        color: white;
        &:hover{
          background: darken($azul,8);
        }
      }
      &.ok{
        color: $verde;
        background: $gris-claro;
        height: 30px;
        width: 30px;
        top: -4px;
        border-radius: 50%;
        text-align: center;
      }
      &.miss{
        color: $naranja;
        background: $gris-claro;
        height: 30px;
        width: 30px;
        top: -4px;
        border-radius: 50%;
        text-align: center;
      }
    }
    .actions{
      text-align: right;
    }
    strong{
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 800;
      margin-top: 5px;
      display: inline-block;
    }
    .body{
      padding: 20px 0;
    }
    .icon {
      text-align: center;
      width: 90px;
      margin: 0 auto;
      height: 90px;
      background: $naranja;
      color: white;
      display: flex;
      align-items: center;
      border-radius: 50%;
      justify-content: center;
      font-size: 40px;
    }
  }
}