body,html{
  height: 100%;
  background: white;
  font-family: 'Raleway', sans-serif;
}

*{
  outline: none!important;
}
//.container-fluid{
//  height: 100%;
//}
.cabecera{
  .titulo-dashboard{
    text-align: center;
  }
  .boton{
    margin-top: 10px;
    display: block;
    text-align: center;
  }
}
.btn{
  border-radius: 2px;
  &.btn-primary{
    background: $naranja;
    border-color: $naranja;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s ease;
    &:hover{
      background: darken($naranja,5);
      border-color: darken($naranja,5);
    }
    &:active{
      background: darken($naranja,15);
      border-color: darken($naranja,15);
    }
  }
  i{
    margin-left: 15px;
    font-size: 16px;
  }
}
.form-control{
  border-color: #e0e0e0;
  border-radius: 2px;
  box-shadow: none;
  &:focus{
    border-color: #e0e0e0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(152, 203, 232, 0.6);
  }
}
.panel{
  &.panel-oleb2b{
    .panel-heading{
      font-weight: 800;
      font-size: 23px;
      text-transform: uppercase;
      color: $naranja;
    }
  }
}

.requiredasterisklabel{
 position:relative;
 left: -10px;
  bottom:5px;
  color:$naranja;
  font-size: 6px !important;
  opacity:0.7;
  transition:all 0.3s ease;
    &:hover{
      opacity:1;
    } 
}


.sidebar-container{
  height: 100%;
  .page-wrapper{
    padding-bottom: 65px;
    position: relative;
    width: 100%;
    min-height: 100%;
    .select-lang{
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 15px;
      background: $gris-claro;
      li{
        padding: 10px;

        display: inline-block;
        border-right: solid 1px lighten($gris,20);
        a{
          font-size: 9px;
          text-transform: uppercase;
          color: lighten($gris,10);
        }
        &:last-child{
          border-right: none;
        }
        &.active{
          a{
            font-weight: 700;
            color: $azul;
            line-height: 100%;
          }
        }
        &.salir{
          float: right;
          background: #ededed;
          transition: all 0.3s ease;
          a{
            color: #636b6f;
            font-weight: 700;
            i{
              font-size: 17px;
              vertical-align: sub;
              margin-left: 3px;
            }
          }
          &:hover{
            background: darken(#ededed,7);
          }
        }
        &.lang{
          display: none;
        }
        &.user-authenticated{
          float: right;
          color: #636b6f;
        }
        &.select-lang{
          font-size: 19px;
        }
      }

    }
  }
  &.aside-active{
    aside{
      left: 0;
    }
  }
  aside{
    overflow-y: auto;
    position: fixed;
    z-index: 999;
    left: -300px;
    background: white;
    width: 300px;
    height: 100%;
    border-right: solid 1px lighten($naranja,25);
    transition: all 0.4s ease;
    padding-bottom: 15px;
    .close-aside{
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 30px;
    }
    &::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
    }
    &::-webkit-scrollbar
    {
      width: 7px;
      background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb
    {
      background-color: $naranja;
      border-radius: 5px;
    }
    h1{
      font-size: 16px;
      font-weight: bolder;
      margin-left: 30px;
      margin-bottom: 0;
      i{
        margin-right: 14px;
        color: $azul;
        vertical-align: sub;
        font-size: 19px;
      }
    }
    .logo{
      width: 250px;
      padding-left: 10px;
    }
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        padding: 6px 30px;
        padding-right: 20px;
        a{
          color: darken($gris,30);
          &:hover,&:active,&:focus{
            text-decoration: none;
          }
          &.title{
            font-weight: 700;
            i{
              margin-right: 10px;
              color: $azul;
              vertical-align: sub;
              font-size: 17px;
            }
            span{
              float: right;
              display: none;
            }
          }
          &.boton-azul{
            color: white;
            &:hover{
              i{
                color: yellow;
              }
            }
          }
        }
        ul{
          font-size: 13px;
          li:first-child{
            padding-top: 0;
          }
        }
        &.active{
          position: relative;
          background: lighten($naranja,37);
          a{
            color: $naranja;
            i{
              color: $naranja
            }
          }

          &:after{
            content: "";
            top: 0;
            bottom: 0;
            width: 4px;
            background: $naranja;
            display: block;
            position: absolute;
            left: 0;
          }
        }
      }
    }
  }
}
.single-request{
  background: $gris-claro;
  margin: 0;
  margin-top: 15px;

  border-radius: 5px;
  &.inhabilitado{
    background: #ffedbd;
    .inhabilitado-msg{
      margin-bottom: 10px;
    }
  }
  @include box-shadow();
  padding: 15px;
  figure{
    text-align: center;
    margin-bottom: 10px;
    img{
      max-width: 100%;
    }
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      line-height: 130%;
      font-weight: 500;
      margin-bottom: 5px;
      &.name{
        font-weight: 800;
        text-transform: uppercase;
        a{
          color: #636b6f;
        }
      }
    }
  }
  strong{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
  }
  .supplier{
    button{
      @include shadow-button($verde, white);
      width: 100%;
      margin-bottom: 10px;
      i{
        margin-left: 10px;
      }
    }
  }

  .buttons{
    padding-top: 20px;
    button, a{
      width: 100%;
      margin-bottom: 10px;
    }
    .contact{
      @include shadow-button($naranja, white);
      margin-right: 2%;
    }
    .save{
      @include shadow-button($azul, white);
    }
  }
}
.checkbox-list{
  .checkbox-inline{
    margin: 0;
    margin-right: 8px;
  }
}
.perfil-empresa-tabs{
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
  li{
    background: white;
    &.active{
      background: $azul;
      a, a:hover, a:focus, a:active{
        color: white;
      }
    }
    a, a:hover, a:focus, a:active {
      border: solid 1px $azul;
      color: $azul;
      text-decoration: none;
      padding: 15px 0;
      text-align: center;
      width: 100%;
      display: block;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 700;
    }
  }
}
#certifications{
  .toggle-edit{
    margin-bottom: 15px;
  }
}
.certification-image{
  img {
    max-height: 100px;
    width: auto;
  }
}
.translate-tabs{
  margin-bottom: 13px;
  border-bottom: 1px solid #f3f4f4;
  li{
    &.active{
      a, a:focus{
        background-color: rgba(245, 248, 250, 0.49);
        border: 1px solid rgba(240, 240, 240, 0.68);
      }
    }
    &:hover{
      a{
        border: 1px solid rgba(240, 240, 240, 0.68);
        background-color: rgba(238, 238, 238, 0.35);
      }
    }
    a{
     color: $naranja;
      font-weight: 700;
    }
    &.end{
      float: right;
      padding-top: 15px;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 800;
    }
  }
}

#SupplierModal{
  .modal-header{
    button{
      right: 25px;
      top: 20px;
      position: absolute;
    }
    text-align: center;
    background: $naranja;
    color: white;
  }
  .modal-body{
    padding: 0 30px;
    #product_photo{
      margin: 10px auto;
      width: auto;
      max-height: 200px;
    }
    #product_name{
      font-size: 20px;
      font-weight: 800;
      text-transform: uppercase;
      color: $naranja;
    }
    .form-group{
      margin: 0 -10px 12px;
      .formas-title{
        text-transform: uppercase;
        font-weight: 800;
        margin-top: 10px;
      }
    }
    .idioma-proveedor{
      font-size: 11px;
      text-transform: uppercase;
      text-align: center;
    }
  }
  .modal-footer{
    button{
      padding: 8px 35px;
      margin-left: 10px;
    }
  }
}
footer{
  width: 100%;
  background: #f4f4f4;
  height: 45px;
  position: absolute;
  bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      display: inline-block;
      line-height: 45px;
    }
  }
}

@media (min-width: 768px){
  .cabecera{
    .titulo-dashboard{
      text-align: left;
    }
    .boton{
      margin-top: 0;
      display: inline;
      text-align: right;
      float: right;
    }
  }
  .lg-dt{
    dt{
      width: 330px;
    }
    dd{
      margin-left: 340px;
    }
  }
  .single-request{
    ul{
      &.collapse{
        display: block;
      }
    }
    .supplier{
      button{
        display: none;
      }
    }
  }
}

@media (min-width: 992px){

  .perfil-empresa-tabs{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    li{
      width: 100%;
      margin: 0 5px;
      a, a:hover, a:focus, a:active{
        height: 100%;
        padding: 30px 10px;
      }
    }
  }
  .sidebar-container{
    padding-left: 300px;
    .page-wrapper{
      .select-lang{
        li{
          &.lang{
            display: inline-block;
          }
          &.toggle-aside{
            display: none;
          }
        }
      }
    }
    aside{
      position: fixed;
      left: 0;
      .close-aside{
        display: none;
      }
      ul{
        li{
          &.select-language{
            display: none;
          }
        }
      }
    }
  }
}

.loading-loop {
  background: #f6f7f9;
  background-image: linear-gradient(to right, #f6f7f9 0%, #e9ebec 20%, #f6f7f9 40%, #f6f7f9 100%);
  background-repeat: no-repeat;
  background-size: 800px 100%;
  animation: loop-animation 1.2s forwards infinite;
}

