#mensajes{
  height: 100%;
  height: calc(100% - 120px);
  width: 100%;
  position: absolute;
  overflow: hidden;
  .productos-mensajes{
    border: solid 1px rgba(0,0,0,0.05);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    height: 100%;
    overflow: hidden;

    .header{
      background: $azul;
      color: white;
      padding: 15px 0;
      text-align: center;
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover{
        background: darken($azul,5);
      }
      i{
        position: relative;
        left: -15px;
      }
      h3{
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;
        margin: 0;
        padding: 0;
      }
    }

    .body,.container-messagges{
      text-transform: uppercase;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 90%;

      &::-webkit-scrollbar-track
      {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: $gris-claro;
      }
      &::-webkit-scrollbar
      {
        width: 7px;
        background-color: $gris-claro;
      }
      &::-webkit-scrollbar-thumb
      {
        background-color: $gris-claro;
        border-radius: 5px;
      }
      .producto, .single-message {
        margin-bottom: 20px;
        position: relative;
        padding: 5px;
        cursor: pointer;
        &:before{
          content: "";
          width: 80%;
          bottom: -15px;
          left: 50%;
          transform: translateX(-50%);
          height: 1px;
          background: rgba(0,0,0,0.05);
          display: block;
          position: absolute;
        }
        &:last-child:before{
          display: none;
        }
        &:hover{
          background: $gris-claro;
        }
        figure{
          width: 100%;
          height: 100px;
          overflow: hidden;
          text-align: center;
          position: relative;
          img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100px;
            width: auto;
          }
        }
        h3{
          margin: 0;
          font-weight: 800;
          margin-top: 15px;
          font-size: 15px;
        }
        ul{
          list-style: none;
          margin: 0;
          padding: 0;
          font-size: 13px;
          margin-top: 5px;
          color: $gris;
          li{
            line-height: 100%;
          }
        }
      }
    }
    .inbox {
      height: 100%;
      background: white;
      position: absolute;
      top: 0;
      left: 100%;
      z-index: 99;
      width: 100%!important;
      transition: all 0.3s ease;
      &.active{
        left: 0;
      }
      .single-message{
        .row{
          margin: 0;
        }
        .info{
          padding-left: 0;
        }
        figure{
          img{
            height: 70px;
          }
        }
      }
    }
  }
  .chat-container{
    position: absolute;
    top: 45px;
    left: 100%;
    transition: all 0.3s ease;
    &.active{
      left: 0;
      z-index: 99;
    }
  }
  .chat{
    overflow: hidden;
    height: 100%;
    border: solid 1px rgba(0, 0, 0, 0.08);
    position: relative;
    .contact-info{
      display: none;
      width: 100%;
      background: lighten($gris, 23);
      border-bottom: solid 2px $naranja;
      position: absolute;
      z-index: 99;
      padding: 30px;
      height: 250px;
      top: -250px;
      transition: all 0.7s ease;
      &.show{
        top: 0;
        .hideshow{
          i{
            top: 0;
            transform: rotate(180deg)
          }
        }
      }
      h3{
        margin: 0;
        margin-bottom: 10px;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 14px;
        color: $naranja;
      }
      .detalles{
        overflow: hidden;
        ul{
          column-count: 2;
          position: relative;
          list-style: none;
          padding: 0;
          margin: 0;
          width: 100%;
          display: inline-block;
          vertical-align: top;
        }
      }

      .hideshow{
        position: absolute;
        background: $naranja;
        height: 40px;
        width: 40px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: white;
        border-radius: 50%;
        line-height: 40px;
        bottom: -25px;
        box-shadow: 0 0 0 0 rgba(255,106,49,0.0);
        transition: all 0.3s ease;
        cursor: pointer;
        z-index: 99;
        &:hover{
          box-shadow: 0 0 0 20px rgba(255,106,49,0.2);
        }
        i{
          transition: all 0.3s ease;
          transform: rotate(0deg);
          position: relative;
          top: 4px;
        }
      }
    }
    .mensajes{
      padding: 10px;
      background: #f2f2f2;
      height: 75%;
      overflow: scroll;
      overflow-x: hidden;
      &::-webkit-scrollbar-track
      {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: $gris-claro;
      }
      &::-webkit-scrollbar
      {
        width: 7px;
        background-color: $naranja;
      }
      &::-webkit-scrollbar-thumb
      {
        background-color: $naranja;
        border-radius: 5px;
      }
      .mensaje-unico{
        width: 100%;
        min-height: 65px;
        position: relative;
        margin-bottom: 15px;
        .logo-empresa{
          position: absolute;
          width: 55px;
          height: 55px;
          overflow: hidden;
          border-radius: 50%;
          left: 20px;
          img{
            width: 110%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .texto{
          border-radius: 15px;
          padding: 8px 25px;
          display: inline-block;
          text-align: right;
          max-width: calc(100% - 90px);
          position: relative;
          word-wrap: break-word;
        }
        &.buyer{
          //text-align: right;
          .texto{
            margin-left: 100px;
            background: white;
            &:before{
              content: "\f0d9";
              left: -12px;
              top: 10px;
              font-size: 35px;
              position: absolute;
              color: white;
              font-family: 'FontAwesome';
              line-height: 100%;
            }
          }
        }
        &.supplier{
          text-align: right;
          .logo-empresa{
            right: 20px;
            left: auto;
          }
          .texto{
            margin-right: 100px;
            background: rgb(235, 235, 235);
            &:before{
              line-height: 100%;
              content: "\f0da";
              right: -12px;
              top: 3px;
              font-size: 35px;
              position: absolute;
              color: rgb(235, 235, 235);
              font-family: 'FontAwesome';
            }
          }
        }
      }
    }
    .input-mensaje{
      position: relative;
      height: 15%;
      .adjunto{
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 12%;
        font-size: 25px;
        color: $naranja;
        vertical-align: top;
        cursor: pointer;
        &:hover{
          background: $naranja;
          color: white;
        }
      }
      .box{
        height: 100%;
        display: inline-block;
        width: 70%;

        vertical-align: top;
        textarea{
          height: 100%;
          border: none;
          width: 100%;
          padding: 15px;
        }
      }
      .enviar{
        width: 18%;
        display: inline-block;
        height: 100%;
        position: relative;
        padding: 0 10px;
        .send-message-mobile{
          height: 100%;
          position: relative;
          i{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        button{
          display: none;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
          width: 85%;
        }
      }
    }
  }
}
@media(min-width: 992px){
  #mensajes{
    .chat-container{
      position: inherit;
    }
    .chat{
      border-radius: 8px;
      .mensajes{
        height: 80%;
        height: calc(100% - 120px);
      }
      .input-mensaje{
        height: 120px;
        .adjunto{
          font-size: 40px;
        }
        .enviar{
          button{
            display: block;
          }
          .send-message-mobile{
            display: none;
          }
        }
      }
    }
  }
}
@media (min-width: 1200px){
  #mensajes{
    .chat{

      .contact-info{
        height: 150px;
        top: -150px;
        .detalles{
          ul{
            &:last-child{
              &:before{
                height: 100%;
                width: 2px;
                background: $gris;
                position: absolute;
                content: "";
                display: block;
                left: -10px;
                top: 0;
              }
              padding-left: 30px;
            }
          }
        }
      }
    }
  }
}














