@-webkit-keyframes roll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(-150%, -50%) rotate(-90deg) scale(0.3);
        transform: translate(-150%, -50%) rotate(-90deg) scale(0.3);
        box-shadow: none;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    }
}
@keyframes roll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(-150%, -50%) rotate(-90deg) scale(0.3);
        transform: translate(-150%, -50%) rotate(-90deg) scale(0.3);
        box-shadow: none;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    }
}
body {
    background: #1abc9c;
}
* {
    box-sizing: border-box;
}
.upload-avatar-wrapper {
    -webkit-animation: roll 1.5s;
    animation: roll 1s;
    position: fixed;
    right: -45px;
    top: 170px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #16a085;
    border-radius: 50%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.upload-avatar-wrapper:active #img-result {
    margin-top: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.upload-avatar-wrapper #img-result {
    cursor: pointer;
    margin: 0;
    position: relative;
    background: #1abc9c;
    background-size: cover;
    background-position: center;
    display: block;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0);
    -webkit-transition: box-shadow 0.3s, margin 0.3s, background-image 1.5s;
    transition: box-shadow 0.3s, margin 0.3s, background-image 1.5s;
}
.upload-avatar-wrapper #img-result.no-image:before {
    font-family: 'FontAwesome';
    content: "\f030";
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    font-size: 48px;
    opacity: .8;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow: 0 0px 5px rgba(0, 0, 0, 0.4);
}
.upload-avatar-wrapper button {
    margin-top: 20px;
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
    background: #1abc9c;
    width: 100%;
    border: none;
    color: #fff;
    padding: 10px;
    letter-spacing: 1.3px;
    font-size: 1.05em;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    outline: 0;
    -webkit-transition: box-shadow 0.3s, margin-top 0.3s, padding 0.3s;
    transition: box-shadow 0.3s, margin-top 0.3s, padding 0.3s;
}
.upload-avatar-wrapper button:active {
    box-shadow: none;
    margin-top: 24px;
    padding: 8px;
}
.show-button {
    background: #264974;
    border: none;
    color: #fff;
    padding: 10px 20px;
    float: right;
    display: none;
}
.upload-result {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow-y: auto;
}
.upload-result__content {
    word-break: break-all;
    font-family: 'Source Code Pro';
    overflow-wrap: break-word;
}
.upload-photo .upload-avatar-wrapper{
    position: absolute;
    top:100px;
}