.search-buying-request{
  .search{
    span{
      text-align: center;
      display: block;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 15px;
    }
    .input-container{
      position: relative;
      input{
        width: 100%;
        border: solid 2px $naranja;
        border-radius: 4px;
        padding: 9px;
        margin-top: 10px;
      }
      select{
        display: none;
      }
      button{
        visibility: hidden;
        right: 8px;
        top: 16px;
        position: absolute;
        text-align: right;
        //&:before{
        //  content:"\f002";
        //  display: block;
        //  color: $naranja;
        //  font-family: 'FontAwesome';
        //  visibility: visible;
        //}
      }
    }
  }
}

.buying-requests{
  padding-bottom: 30px;
  .submit-buying-request{
    width: 100%;
    margin-top: 15px;
    color: white!important;
  }
  .single-request{
    background: $gris-claro;
    margin: 0;
    margin-top: 15px;
    border-radius: 5px;
    @include box-shadow();
    padding: 15px;
    figure{
      text-align: center;
      margin-bottom: 10px;
      img{
        max-width: 100%;
      }
    }
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        line-height: 130%;
        font-weight: 500;
        margin-bottom: 5px;
        text-align: justify;
        &.name{
          font-weight: 800;
          text-transform: uppercase;
        }
      }
    }
    strong{
      text-transform: uppercase;
      font-weight: 800;
      font-size: 12px;
    }
    .supplier{
      button{
        @include shadow-button($verde, white);
        width: 100%;
        margin-bottom: 10px;
        i{
          margin-left: 10px;
        }
      }
    }
    .buttons{
      .contact{
        @include shadow-button($naranja, white);
        margin-right: 2%;
      }
      .save{
        @include shadow-button($azul, white);
      }
    }
  }
  .empty{
    text-align: center;
    font-weight: 700;
    margin: 40px 0;
  }
}
#BuyerModal{
  .modal-header{
    button{
      right: 25px;
      top: 20px;
      position: absolute;
    }
    text-align: center;
    background: $naranja;
    color: white;
  }
  .modal-body{
    padding: 0 30px;
    #product_photo{
      margin: 10px auto;
      width: auto;
      max-height: 200px;

    }
    #product_name{
      font-size: 20px;
      font-weight: 800;
      text-transform: uppercase;
      color: $naranja;
    }
    .form-group{
      margin: 0 -10px 12px;
      .formas-title{
        text-transform: uppercase;
        font-weight: 800;
        margin-top: 10px;
      }
    }
    .idioma-proveedor{
      font-size: 11px;
      text-transform: uppercase;
      text-align: center;
    }
  }
  .modal-footer{
    button{
      padding: 8px 35px;
      margin-left: 10px;
    }
  }
}
@media (min-width: 768px){
  .buying-requests{
    .single-request{
      ul{
        &.collapse{
          display: block;
        }
      }
      .supplier{
        button{
          display: none;
        }
      }
    }
  }
}
@media (min-width: 992px){
  .search-buying-request{
    background: darken($gris-claro,3);
    padding: 25px 0;
    .search{
      span{
        margin: 0;
      }
      .input-container{
        border-radius: 4px;
        overflow: hidden;
        margin-top: 15px;
        select{
          display: block;
          position: absolute;
          top:0;
          bottom: 0;
          width: 130px;
          background: #CCCCCC;
          border: none;
          font-weight: 700;
          padding-left: 10px;
          color: $gris;
        }
        input{
          padding-left: 150px;
          margin: 0;
          border: none;
        }
        button{
          visibility: visible;
          top: 0;
          bottom: 0;
          right: 0;
          background: $naranja;
          color: white;
          text-transform: uppercase;
          font-size: 12px;
          border: none;
          font-weight: 600;
          padding: 0 20px;

        }
      }
    }
  }
  .buying-requests{
    .submit-buying-request{
      width: auto;
      margin-top: 15px;
      padding: 10px 25px;
    }
    .single-request{
      ul{
        li{
          text-align: left;
        }
      }
    }
  }
}
@media (min-width: 1200px){
  .buying-requests{
    .single-request{
      .buttons{
        button{
          margin-top: 20px;
          width: 100%;
        }
      }
    }
  }
}