.categories-buttons{
  padding-top: 20px;
  .category-button{
    width: 100%;
    text-align: center;
    padding: 15px 10px;
    background-image: url('../img/category-bg.png');
    background-position: center;
    background-size: cover;
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 17px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border-radius: 4px;
    i{
      display: none;
    }
  }
}
.categorias-top{
  display: none;
}
.category-lists{
  margin: 30px 0 ;
  position: relative;
  overflow: hidden;

  i{
    position: absolute;
    right: 30px;
    font-size: 140px;
    top: 50%;
    transform: translateY(-25%);
    opacity: 0.5;
    line-height: 100%
  }
  .title{
    color: white;
    padding: 25px 20px;
    h3 {
      font-weight: 700;

      margin: 0;
    }
  }
}
.subcategories{
  overflow: hidden;
  max-height: 250px;
  position: relative;
  transition: all 0.7s ease;
  &.show{
    max-height: 2000px;
    padding-bottom: 45px;
    i{
      transform: rotate(180deg);
    }


  }
  .desplegar-mas{
    width: 100%;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    position: absolute;
    display: block;
    bottom: -5px;
    text-align: center;
    color: $naranja;
    font-weight: 700;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+25&0+0,1+25 */
    background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0%, #e7e7e7 90%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%, #e7e7e7 90%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%, #e7e7e7 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    transition: all 0.5s ease;
    i{
      font-size: 12px;
    }

    &:hover{
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+25&0+0,1+25 */
      background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0%, #d8d8d8 90%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%, #d8d8d8 90%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%, #d8d8d8 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }
  }
  h4{
    font-weight: 700;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      margin-bottom: 5px;
      font-size: 12px;
      a{
        text-transform: uppercase;
        color: black;
      }
    }
  }
}
.back-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  color: white;
  text-align: center;
  line-height: 55px;
  transition: all 0.3s ease;
  cursor: pointer;
  transform: scale(0.3);
  opacity: 0;
  &.scrolled{
    transform: scale(1);
    opacity: 1;
  }
  &:hover{
    background: rgba(0, 0, 0, 0.4);
  }
}
@media (min-width: 640px){
  .categories-buttons{
    .category-button{
      display: flex;
      flex-direction: column;
      height: 150px;
      //background-image: none;
      i{
        font-size: 80px;
        line-height: 100%;
        display: block;
        text-shadow: none;
      }
    }
  }
}
@media (min-width: 992px){
  .categorias-top{
    display: block;
    background: $azul;
    background-image: url('../img/category-bg.png');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 35px 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    h1{
      font-size: 25px;
      font-weight: 700;
      margin: 0;

    }
  }
}
@media (min-width: 1200px){
  .categories-buttons{
    .category-button{
      width: 100%;
      text-align: center;
      background-image:none;
      background: #EBEBEB;
      color: #B4B4B4;
      font-weight: 600;
      font-size: 15px;
      text-shadow: none;
      height: 200px;
      padding: 30px;
      align-content: center;
      align-items: center;
      justify-content: center;
      i{
        font-size: 50px;
        margin-bottom: 10px;
      }
      &:hover{
        text-decoration: dashed;
        cursor: pointer;
        @for $i from 1 through 15{
          &.category#{$i}{
            background: categoryColor($i);
            color: white;
          }
        }
      }
    }
  }
}