.contact-top{
  display: block;
  background: $azul;
  background-image: url('../img/category-bg.png');
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 35px 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  h1{
    font-size: 25px;
    font-weight: 700;
    margin: 0;
  }
}
.contact{
  padding: 40px 0;
  button{
    padding: 8px 25px;
  }
}