footer{
  .main-footer{
    display: none;
  }
  .sub-footer{
    text-align: center;
  }
  .copyrights{
    span{
      display: block;
    }
  }
}
@media (min-width: 640px){
  .copyrights{
    padding-top: 15px;
    text-align: right;
  }
}
@media (min-width: 992px){
  footer{
    .copyrights{
      padding-top: 15px;
      text-align: left;
      span{
        display: inline;
      }
    }
    .main-footer{
      display: block;
      padding: 30px 15px;
      font-size: 16px;
      .title{
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 10px;
        display: block;
        i{
          color: $naranja;
          font-weight: bolder;
          position: relative;
        }
      }
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 30px;
      }
      .redes{
        span{
          display: inline-flex;
          margin-right: 5px;
          background: $gris;
          width: 35px;
          height: 35px;
          border-radius: 3px;
          align-items: center;
          justify-content: center;
          color: white;
          &.fb{
            background: #3b5998;
          }
          &.tw{
            background: #2795e9;
          }
          &.gp{
            background: #dd4b39;
          }
          &.ln{
            background: #007bb6;
          }
        }
      }
    }
  }
}