.buscador{
  //background: $gris-claro;
  margin-bottom: 10px;
  padding-bottom: 15px;
  .titulo{
    display: none;
  }
  .input-container{
    position: relative;
    input{
      width: 100%;
      border: none;
      padding: 9px;
    }
    select{
      display: none;
    }
    button{
      visibility: hidden;
      right: 5px;
      top: 5px;
      position: absolute;
      text-align: right;
      &:before{
        content:"\f002";
        display: block;
        color: $gris;
        font-family: 'FontAwesome';
        visibility: visible;
      }
    }
  }
}
.categorias-home{
  @include shadow-button($naranja, white);
  margin-top: 10px;
  text-align: center;
  i{
    float: left;
  }
  span{
    text-align: center;
  }
}
.solicitudes-home{
  @include shadow-button($azul, white);
  margin-top: 10px;
  a{
    color: white;
  }
}
.productos-destacados{
  background: white;
}
.producto{
  border: solid 1px $gris-claro;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
  height: 420px;
  .header{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .cont-organic {
      width: 20%;
    }
    .organic{
      width: 100%;
      margin-top: 5px;
      margin-right: 5px;
    }
    button{
      @include no-shadow-button(#E6E6E6, $gris);
      transition: all 0.3s ease;
      font-size: 14px;
      &.active{
        background: $naranja;
        color: white;
      }
      &.edit{
        color: white;
        background: $azul;
      }
    }
  }
  figure{
    height: 220px;
    overflow: hidden;
    position: relative;
    img{
      position: absolute;
      height: 100%;
      left: 50%;
      transform: scale(1) translateX(-50%);
      transition: all 0.3s ease;
    }
  }
  .body{
    text-align: center;
    .nombre{
      margin-top: 15px;
      color: black;
      text-transform: lowercase;
      text-align: center;
      line-height: 100%;
      max-height: 45px;
      font-size: 17px;
      &:first-letter{
        text-transform: uppercase;
      }
    }
    .thumb{
      img{
        margin: 0 auto;
        display: inline-block;
      }
    }
    .precio{
      color: $naranja;
      font-weight: 800;
      font-size: 15px;
      margin-top: 5px;
    }
    .minimo{
      height: 30px;
    }
  }
}
.ver-mas{
  @include no-shadow-button($verde, white);
  width: 100%;
}
.como-funciona-home{
  padding-top: 15px;
  background: white;
  text-align: center;
  .titulo-1{
    margin-bottom: 15px;
  }

  .item{
    background: #f5f5f5;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 4px;
    .icon{
      color: $naranja;
      font-size: 45px;
    }
    .desc{
      text-transform: uppercase;
      span{
        font-weight: 800;
        display: block;
      }
    }
    button{
      @include no-shadow-button(white, $naranja);
      width: 100%;
      margin-top: 10px;
      font-weight: 800;
    }
  }
}

.noticias-home{
  background: white;
  h3{
    text-align: center;
  }
  .slide-noticias-home{
    .arrws{
      position: absolute;
      top: -40px;
      text-align: center;
      border: none;
      border-radius: 50%;
      line-height: 26px;
      height: 35px;
      width: 35px;
      z-index: 99;
      &.slick-prev{
        left: 0;
      }
      &.slick-next{
        right: 0;
      }
    }
  }
}
.noticia{
  position: relative;
  figure{
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    img{
      min-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .fecha{
    padding: 0 15px;
    position: absolute;
    height: 60px;
    background:white;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 100%;
    font-size: 15px;
    display: flex;
    align-items: center;
    font-weight: 800;
    text-transform: uppercase;
    span{
      color: $naranja;
      float: left;
      font-weight: 800;
      font-size: 40px;
      font-family: 'Roboto', sans-serif;
      position: relative;
      margin-right: 10px;
      &:after {
        content: '';
        height: 40px;
        width: 2px;
        background: $gris-claro;
        display: inline-block;
        position: absolute;
        top: 50%;
        right: -7px;
        transform: translateY(-50%);
      }
    }
  }
  .descripcion{
    p{
      text-align: center;
      font-size: 13px;
    }
    h3{
      margin-bottom: 5px;
    }
  }
  .ver-mas{
    width: 100%;
    @include no-shadow-button($verde, white);
  }
}
.camaras-comercio, .ferias-eventos{
  background: white;
  h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  button{
    display: none;
  }
  .camaras, .ferias{
    position: relative;
    figure{
      padding: 20px 50px;
    }
    .arrws{
      position: absolute;
      top: 50%;
      text-align: center;
      border: none;
      border-radius: 50%;
      line-height: 26px;
      height: 35px;
      width: 35px;
      z-index: 99;
      transform: translateY(-50%);
      &.slick-prev{
        left: 0;
      }
      &.slick-next{
        right: 0;
      }
    }
  }
}
.registrate{
  height: 300px;
  background: url('../img/registrate.jpg') no-repeat center center;
  background-size: cover ;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &:after{
    position: absolute;
    content: "";
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .centro{
    text-align: center;
    position: relative;
    z-index: 9;
    width: 80%;
    button{
      @include shadow-button($naranja, $naranja);
      background: white;
      font-weight: 800;
      font-size: 18px;
      text-transform: uppercase;
      padding: 10px 30px;
    }
    h3{
      text-align: center;
      color: white;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 30px;

    }
  }
}

.lista-categorias {
  display: none;
}

.banner-2{
  display:none;
}
.busqueda-pais{
  display: none;
}
.paises{
  display: none;
}

.como-funciona-home{
  background: #f3f3f3;
  /* entire container, keeps perspective */
  .flip-container {
    perspective: 1000px;
  }
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

  .flip-container, .front, .back {
    width: 100%;
    height: 400px;
  }

  /* flip speed goes here */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
  }

  /* hide back of pane during swap */
  .front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
  }

  /* front pane, placed above back */
  .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
  }

  /* back, initially hidden pane */
  .back {
    transform: rotateY(180deg);
    overflow: hidden;
    padding: 15px;
    background: white;
    ul{
      list-style: none;
      padding: 0;
    }
    h3{
      font-weight: 800;
      color: $naranja;
      text-transform: uppercase;
    }
    i{
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      font-size: 100px;
      position: absolute;
      color: #e3e3e3;
    }
  }


  .item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 400px;
    align-items: center;
    position: relative;
    padding-bottom: 50px;
    &:before{
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+83&0+0,0.65+83 */
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 83%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 83%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
      display: block;
      position: absolute;
    }
    .icon{
      width: 100px;
      height: 100px;
      position: relative;
      background: white;
      border-radius: 50%;
      font-size: 45px;
      text-align: center;
      margin-bottom: 30px;
      i{
        line-height: 106px;
      }
    }
    .desc{
      position: relative;
      color: white;
    }
    button{
      display: none;
    }
    &.compradores{
      background: url(../img/compradores.jpg) no-repeat center center;
      background-size: cover;
    }
    &.usuarios{
      background: url(../img/usuarios.jpg) no-repeat center center;
      background-size: cover;
    }
    &.vendedores{
      background: url(../img/vendedores.jpg) no-repeat center center;
      background-size: cover;
    }

  }
}

@media (min-width: 480px){
  .productos-destacados{
    .row{
      margin: 0 -9px;
      & > div{
      }
    }
  }
  .producto{
    .header{
      text-align: right;
      button{
        text-transform: uppercase;
        font-size: 10px;
        padding: 8px 9px;
      }
    }
    .minimo{
      font-size: 10px;
    }
  }
  .como-funciona-home{
    .item{
      .icon{
        font-size: 80px;
      }
      .desc{
        font-size: 30px;
        line-height: 100%;
      }
    }
  }
  .camaras-comercio, .ferias-eventos{
    .camaras, .ferias{
      figure{
        padding: 20px 100px;
      }
    }
  }
}
@media(min-width: 640px){
  .sub-top-home{
    .row{
      margin: 0 -10px;
      & > div{
        padding: 0 10px;
      }
    }
  }
  .banner-1{
    display: inline-block;
    width: 67%;

  }
  .banner-2{
    display: inline-block;
    width: 33%;
    padding-left: 1.2%;
  }
  .camaras-comercio, .ferias-eventos{
    .camaras, .ferias{
      figure{
        padding: 30px 55px;
      }
      .arrws{
        opacity: 0.3;
        transition: all 0.3s ease;
        &:hover{
          opacity: 1;
        }
        &.slick-prev{
          left: 0;
        }
        &.slick-next{
          right: 0;
        }
      }
    }
  }

}
@media (min-width: 768px){
  .top-nav .logueo{
    //.icono{
    //  float: right;
    //}
    //.texto{
    //  float: right;
    //}
  }
}
@media (min-width: 992px){
  .buscador{
    position: relative;
    padding: 0;
    margin: 0;
    .titulo{
      display: block;
      text-align: center;
      font-weight: 700;
      font-size: 25px;
      color: white;
    }
    .input-container{
      border-radius: 30px;
      overflow: hidden;
      margin-top: 15px;
      height: 50px;
      select{
        display: block;
        position: absolute;
        top:0;
        bottom: 0;
        width: 130px;
        background: #CCCCCC;
        border: none;
        font-weight: 700;
        padding-left: 10px;
        color: $gris;
      }
      input{
        padding-left: 150px;
        height: 100%;
      }
      button{
        visibility: visible;
        top: -2px;
        bottom: -2px;
        right: -2px;
        background: $naranja;
        color: white;
        text-transform: uppercase;
        font-size: 12px;
        border: none;
        font-weight: 600;
        padding: 0 30px;
        border-radius: 20px;
        &:before{
          content: "";
        }
      }
    }
    &.search{
      padding-bottom: 30px;
      .titulo{
        margin-top: 0;
      }
      select{
        height: 50px;
      }
      input{
        height: 50px;
      }
      button{
        top: 0;
        height: 50px;
      }
    }
  }

  .categorias-home {
    margin-top: 0;
    background: #F5f5f5;

    font-size: 20px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    position: relative;
    transition: all 0.3s ease;
    a{
      color: $naranja;
    }
    &:hover{
      background: darken(#F5f5f5,2);
    }
  }
  .sub-top-home{
    //background: #F4F4F4;
    padding-top: 20px;
  }
  .lista-categorias{
    display: block;
    background: white;
    padding-top: 10px;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
    & > ul{
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 15px;
      li{
        padding: 8px;
        font-weight: 600;
        a{
          text-transform: uppercase;
          font-size: 13px;
          color: $gris;
        }
        .right {
          opacity: 0;
          float: right;
          margin-top: 2px;
          transition: all 0.3s ease;
        }
        &:hover{
          .right{
            opacity: 1;
          }
          a{
            color: $naranja;
          }
        }
      }
      .mega-subcategory{
        display: none;
        position: absolute;
        min-height: 100%;
        background: $gris-claro;
        width: 660px;
        right: -660px;
        top: 0;
        overflow: hidden;

        .icon-bg{
          font-size: 300px;
          position: absolute;
          bottom: -150px;
          right: -100px;
          color: rgba(0,0,0,0.1)
        }
        .subgategories{
          padding: 15px;
          columns: 400px 3;
          .single-sub{
            display: inline-block;
            vertical-align: top;
            margin-right: 35px;
          }
          .title{
            //text-transform: uppercase;
            font-weight: 700;
            width: 250px;
          }
          ul{
            width: 250px;
            list-style: none;
            padding: 0;

            li{
              margin: 0;
              padding: 3px 0;
              font-size: 13px;

              &.vermas{
                a{
                  color: $verde!important;
                }
              }
            }
          }
        }
        .footer{
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 3px;
          //border-bottom: solid 3px $naranja;
        }
      }
    }
  }
  .productos-destacados{
    background: #f4f4f4;
    padding-top: 30px;
    & > h2{
      margin-bottom: 30px;
    }
    .ver-mas{
      display: none;
    }
  }
  .producto{
    background: white;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    &:hover{
      box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
      .header{
        button{
          background: $naranja;
          color: white;
          &:hover{
            background: darken($naranja, 10);
          }
          &.edit{
            color: white;
            background: darken($azul, 13);
          }
        }
      }
      figure{
        img{
          //transform: scale(1.1) translateX(-50%);
          //zoom: 110%;
        }
      }
    }
  }
  .como-funciona-home .item{
    .desc{
      font-size: 25px;
    }
    .icon{
      font-size: 65px;
      line-height: 100%;
      margin-top: 10px;
    }
  }
  .noticias-home{
    background: $gris-claro;
    .slide-noticias-home{
      .arrws{
        opacity: 0.2;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease;
        &:hover{
          opacity: 1;
        }
      }
    }
    .noticia{
      padding: 30px;
      figure{
        width: 50%;
        float: left;
        img{
          min-width: 100%;
          min-height: 100%;
        }
      }
      .descripcion{
        padding-left: 52%;
        p,h3{
          text-align: left;
        }
        h3{
          margin-top: 0;
        }
      }
      .fecha{
        position: initial;
        transform: none;
        background: transparent;
        display: inline-flex;
        padding-top: 2%;
      }
      button{
        width: 80px;
        margin-top: -10px;
        position: relative;
        top: -10px;
        font-size: 12px;
      }
    }
  }
  .camaras-comercio, .ferias-eventos{
    .camaras, .ferias{
      figure{
        border-right: solid 1px rgba(0,0,0,0.1);
        padding: 10px 40px;

      }
    }
  }
}
@media(min-width: 1200px){
  .sub-top-home{
    max-width: 1650px;
  }
  .solicitudes-home{
    margin-top: 25px;
  }
  .paises{
    display: block;
    text-align: center;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 10px ;
    padding-bottom: 20px;
    background: white;
    .flag{
      display: inline-flex;
      width: 31%;
      padding-top: 10px;
      align-items: center;
      align-content: center;
      span{
        font-weight: 700;
        text-transform: uppercase;
        font-size: 8px;
        text-align: left;
        vertical-align: middle;
        display: inline-block;
        padding-top: 5px;
        padding-left: 3px;
        color: black;
      }
      img{
        display: inline-block;
        vertical-align: middle;
      }
      &:hover{
        span{
          color: $naranja;
        }
      }
    }
  }
  .sub-top-home .row > .col-categorias{
    padding-left: 1%;
  }
  .top-nav{
    .col-mid{
      padding-top: 5px;
      button{
        margin-left: 10px;
      }
    }
  }
  .categorias-home{
    padding: 10px 20px;
  }
  .lista-categorias{
    padding: 15px;
    ul{
      li{
        i{
          margin-right: 10px;
        }
        a{
          display: inline-block;
          width: 100%;
        }
      }
    }
    .vermas a{
      color: $naranja;
      font-weight: 800;
      font-size: 11px;
    }
  }
  .busqueda-pais{
    display: block;
    margin-top: 0;
    background: #F5f5f5;
    color: #0063d9;
    font-size: 17px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    position: relative;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    i{
      float: left;
    }
  }
  .camaras-comercio{
    border-bottom: solid 1px rgba(0,0,0,0.1);
  }
  .camaras-comercio, .ferias-eventos{
    padding: 45px 0;
    h2{
      strong{
        display: block;

        font-weight: 800;
      }
      text-align: left;
    }
    button{
      border-radius: 10px;
      margin-top: 5px;
      border: solid 1px rgba(0,0,0,0.1);
      color: darken($gris, 60);
      font-weight: 600;
      text-transform: uppercase;
      font-size: 10px;
      padding: 5px 15px;
      background: $gris;
    }
    .camaras, .ferias{

      figure{
        border-right: solid 1px rgba(0,0,0,0.1);
        padding: 10px 40px;
      }
    }
  }
}

@media(min-width: 1400px){
  .sub-top-home .row >  .col-categorias{
    padding-left: 5%;
  }
}
