.auth-background{
  display: none;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: scroll;
  background: rgba(0,0,0,0.6);
}
.content-auth{
  background: white;
  .header{
    .close{
      display: none;
    }
    ul{
      border: none;
      background: lighten($gris-claro,2.5);
      li{
        width: 50%;
        border: none;
        &.active{
          a{
            color: $naranja;
            background: none!important;
            border-bottom: solid 3px $naranja!important;
          }
        }
        a{
          border-radius: 0;
          text-align: center;
          border: none!important;
          color: $gris;
          i{
            font-size: 28px;
          }
          span{
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 600;
            display: block;
          }
        }
      }
    }
  }
  .body{
    padding: 20px;

    h3{
      font-size: 17px;
      font-weight: 600;
      margin: 0;
      margin-bottom: 25px;
      //color: $naranja;
    }
    form{
      input[type="email"],input[type="text"],input[type="password"],input[type="number"]{
        width: 100%;
        border: none;
        border-bottom: solid 1px rgba(0,0,0,0.2);
        padding: 8px 2px;
      }
      .terms{
        a{
          color: $azul;
        }
      }
      .sub{
        position: relative;
        &:after{
          content:"";
          display: block;
          width: 0%;
          height: 2px;
          background: $naranja;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          transition: all 0.3s ease;
        }
        &.active{
          &:after{
            width: 100%;
          }
        }
      }
      button{
        width: 100%;
        font-weight: 700;
        text-transform: uppercase;
        @include shadow-button($naranja, white);
      }
      .remember{
        text-align: right;
        label{
          display: flex;
          color: darken($gris,30);
          align-items: center;
          input{
            margin: 0;
            margin-left: 10px;
            width: 15px;

          }
        }
      }
    }
  }
}
@media (min-width: 992px){
  .auth-background{
    top: 0;
    background: rgba(0,0,0,0.6);
  }
  .content-auth{
    width: 80%;
    margin: 25px auto;
    border-radius: 8px;
    overflow: hidden;
    .header{
      position: relative;
      .close{
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 30px;
        color: $naranja;
        z-index: 99;
        opacity: 1;
      }
      ul{
        background: #f4f4f4;
        li{
          width: 200px;
          &.active{
            a{
              background: white!important;
              border: none!important;
              border-top: solid 3px $naranja!important;
              border-radius: 3px;
            }
          }
        }
      }
    }
    .body{
      h3{
        text-align: center;
      }
    }
  }
}
