.membresias-contenedor{
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.membresias{
  padding: 0 10px;
  width: 600px;
  padding-top: 30px; 
  .fa-close, .fa-check{
    color: $verde;
  }
  & > .row > div{

    text-align: center;
  }
  .cuerpo > .row > div{
    border: solid 3px white;
    text-align: center;
    height: 75px;
    background: #F5F5F5;
    line-height: 75px;
    span{
      line-height: 100%!important;
      display: inline-block;
      vertical-align: middle;
    }
    &.description{
      text-align: left;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      .rows2{
        width: 85%;
      }
      i{
        color:$naranja;
        margin-right: 10px;
        font-size: 18px;
      }
    }
  }
  .logos-top{
    & > div{
      padding: 0 3px;
    }
    .top{
      color: white;
      font-size: 25px;
      font-weight: 800;
      text-transform: uppercase;
      padding: 20px 0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 100%;
    }
    .icon{
      padding: 15px 0;
      figure{
        width: 150px;
        margin: 0 auto;
        figcaption{

        }
      }
    }
  }
  .choose{
    .row > div{
      padding: 0 3px;
    }
    button{
      width: 100%;
      height: 55px;
      color: white;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 18px;
      border: none;
      border-radius: 3px;
      transition: all 0.3s ease;
      &.free{
        background: $verde;
        &:hover{
          background: darken($verde,10);
        }
      }
      &.premium{
        background: $naranja;
        &:hover{
          background: darken($naranja,10);
        }
      }
      &.advanced{
        background: $azul;
        &:hover{
          background: darken($azul,10);
        }
      }
      &.disabled{
        background: $gris;
        cursor: not-allowed;
      }
    }
  }
  .free{
    .top{
      background: $verde;
    }
    .icon{
      figure{
        width: 150px;
        margin: 0 auto;
        figcaption{
          color: $verde;
        }
      }
    }
  }
  .advanced{
    .top{
      background: $azul;
    }
    .icon{
      figure{
        width: 150px;
        margin: 0 auto;
        figcaption{
          color: $azul
        }
      }
    }
  }
  .premium{
    .top{
      background: $naranja;
    }
    .icon{
      figure{
        width: 150px;
        margin: 0 auto;
        figcaption{
          color: $naranja
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .membresias{
    width: 100%;
  }
  .membresias-contenedor{
    overflow-x: hidden;
  }
}