.top-nav {
  background: $gris-claro;
  .toggle-menu {
    color: $naranja;
    padding-top: 13px;
    font-size: 27px;
  }
  .logo-nuevo {
    a {
      display: block;
    }
    img {
      margin: 0 auto;
      width: 100%;
      max-width: 250px;
      &.logo-blanco {
        display: none;
      }
    }
  }
  .logueo {
    .myoleb2b {
      text-align: center;
      padding-top: 20px;
      span {
        display: none;
      }
      i {
        font-size: 20px;
        color: $naranja;
      }
    }
    .toggle-auth {
      .drop {
        display: none;
      }
    }
    .texto {
      display: none;
    }
    .icono {
      color: $naranja;
      margin-top: 15px;
      font-size: 30px;
    }
    .dropdown-auth {
      display: none;
    }
  }
  .col-mid {
    display: none;
  }
  &.home {
    .logo-nuevo {
      a {
        display: block;
      }
      img {
        margin: 0 auto;
        width: 100%;
        max-width: 250px;
        &.logo-negro {

        }
        &.logo-blanco {
          display: none;
        }
      }
    }
  }
}

.top-top-nav {
  display: none;
}

.notifications-top {
  display: none;
  .dropdown-slimscroll {
    ul {
      padding: 0;
      list-style: none;
      li {
        padding: 8px;
        cursor: pointer;
        .message {
          font-weight: 600;
        }
        .fecha {
          display: block;
          text-align: right;
        }
        &:hover {
          background: rgba(0, 0, 0, 0.07);
        }
      }
      a {
        i {
          margin-right: 3px;
          font-size: 13px;
          position: relative;
          top: -2px;
          vertical-align: middle;
        }
      }
    }
  }
}

.mobile-side-menu {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 320px;
  position: fixed;
  height: 100%;
  background: white;
  z-index: 9999;
  display: block;
  top: 0;
  left: -335px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.6);
  transition: all 0.4s ease;
  &.active {
    left: 0;
  }
  .header {
    background: url('../img/menu-movil_fondo.png') no-repeat center center;
    background-size: cover;
    position: relative;
    figure {
      text-align: center;
      padding: 40px 0 20px;
      img {
        width: 250px;
      }
    }
    .close {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 35px;

    }
    .buttons {
      padding: 0 10px 10px;
      strong {
        display: block;
        color: darken($gris, 30);
        font-weight: 700;
        margin-bottom: 7px;
        font-size: 16px;
      }
      .row {
        margin-left: -5px;
        margin-right: -5px;
        & > div {
          padding: 0 5px;
        }
      }
    }
  }
  .body {
    padding: 0 10px;
    .heading {
      padding: 13px 0;
      a {
        font-weight: 700;
        color: darken($gris, 30);
        text-transform: uppercase;
        font-size: 14px;
      }
      .current {
        color: $verde;
        font-weight: 700;
        float: right;
        margin-right: 20px;
        text-transform: uppercase;
        font-size: 12px;
        position: relative;
        top: 4px;
      }
      span {
        vertical-align: middle;
        margin-right: 20px;
        font-size: 18px;
      }
      i {
        color: $gris;
        float: right;
        font-size: 17px;
      }
      &.item0 {
        span {
          color: $verde;
        }
      }
      &.item1 {
        span {
          color: $naranja;
        }
      }
      &.item2 {
        span {
          color: $azul;
        }
      }

    }
    .panel-body {
      padding: 0 10px;
      padding-left: 35px;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          a {
            display: block;
            height: 30px;
          }
        }
      }
    }
  }
  .redes {
    h4 {
      font-weight: 700;
    }
    span {
      width: 40px;
      height: 40px;
      font-size: 20px;
      text-align: center;
      background: $gris;
      color: white;
      display: inline-block;
      line-height: 40px;
      border-radius: 2px;
      margin-right: 10px;
      &.fb {
        background: #3B5998;
      }
      &.tw {
        background: #55ACEE;
      }
      &.ld {
        background: #007BB6;
      }
    }
  }
}

@media (min-width: 480px) {
  .top-nav {
    .toggle-menu {
      padding-top: 25px;
    }
    .logueo {
      padding-left: 0;
      .myoleb2b {
        padding: 0;
      }
      .icono {
        margin-top: 25px;
        float: left;
      }
      .texto {
        display: inline-block;
        float: left;
        span {
          width: 10px;
          display: block;
          padding-top: 36px;
          font-size: 12px;
          color: $naranja;
          font-weight: 600;
          padding-left: 5px;
          line-height: 100%;
        }
      }
    }
    &.home {
      .logueo {
        .myoleb2b {
          padding-top: 30px;
        }
      }
    }
  }
}

@media (min-width: 640px) {
  .top-nav {
    .toggle-menu {
      padding-top: 25px;
    }
    .logueo {
      .icono {
        margin-top: 40px;
        float: left;
      }
      .texto span {
        padding-top: 50px;
      }

    }
  }
}

@media (min-width: 768px) {
  .top-nav {
    .logueo {
      .toggle-auth {
        position: relative;
        cursor: pointer;
        .drop {
          display: inline-block;
          position: absolute;
          right: -50px;
          top: 35px;
        }
      }
      .myoleb2b {
        a {
          border: none;
          background: white;
          border-radius: 20px;
          text-transform: uppercase;
          font-size: 0.9em;
          color: $azul;
          padding: 10px 25px;
          transition: all 0.3s ease;
          font-weight: bold;
          i {
            color: $azul;
          }
          &:hover {
            background: $naranja;
            color: white;
            i {
              color: white;
            }
          }
          & > span {
            display: inline-block;
          }
        }
      }
      .dropdown-auth {
        &.active {
          display: block;
        }
        border-radius: 5px;
        position: absolute;
        right: -55px;
        top: 125%;
        background: white;
        z-index: 999;
        width: 220px;
        box-shadow: 1px 0 4px 2px rgba(0, 0, 0, 0.1);
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          li {

            transition: all 0.3s ease;
            a {
              display: block;
              width: 100%;
              padding: 5px 10px;
            }
            &:hover {
              background-color: $gris-claro;
            }
            &.logout {
              font-weight: 800;
              text-transform: uppercase;
              font-size: 13px;
              text-align: center;
              color: $naranja;
              background: darken($gris-claro, 2);
            }
            &.title {
              padding: 5px 10px;
              background: darken($gris-claro, 2);
              font-weight: 800;
              text-transform: uppercase;
              font-size: 13px;
              color: $naranja;
            }
            &.register {
              padding: 5px 10px;
              a {
                display: block;
                width: 100%;
                margin-top: 5px;
              }
            }
            &.authenticated_user {
              a {
                display: flex;
                height: auto;
                align-items: center;
                figure {
                  width: 50px;
                  height: 50px;
                  img {
                    width: auto;
                    max-height: 100%;
                  }
                }
                p {
                  margin: 0;
                  display: inline-block;
                  padding-left: 8px;
                  span {
                    margin: 0 !important;
                    padding: 0 !important;

                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .top-top-nav {
    display: inherit;
    background: transparent;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: inline-block;
      li {
        display: inline-block;
        padding: 12px 15px;
        border-right: solid 1px #DADADA;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 700;
        margin-right: -3px;
        a {
          font-weight: normal;
        }
        &:last-child {
          border-right: none
        }
        &.active {
          a {
            font-weight: bolder;
          }
        }
        &:hover {
          color: $naranja;
          cursor: pointer;
        }
      }
    }
    .tp-menu {
      text-align: right;
      li {
        border-right: none !important;
      }
    }
    .slider-bg{
      display: none;
      &:after{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.6);
        position: absolute;
        z-index: 9;
        top: 0;
      }
    }

    &.home {
      .slider-bg {
        width: 100%;
        height: 410px;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        .item-slide {
          width: 100%;
          height: 410px;
          position: relative;
          overflow: hidden;
          img {
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      &:after {
        content: "";
        background: url(../img/top-bg/ropa-3.jpg) no-repeat center center;
        background-size: cover;
        width: 100%;
        height: 410px;
        position: absolute;
        z-index: -3;
        top: 0;
        left: 0;
        right: 0;
      }
      .tp-menu {
        li {
          color: white;
        }
      }
      ul {
        li {
          a {
            color: white;
          }
        }
      }
    }
    &.search {
      .slider-bg {
        width: 100%;
        height: 235px;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        .item-slide {
          width: 100%;
          height: 235px;
          position: relative;
          overflow: hidden;
          img {
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      &:after {
        content: "";
        background: url(../img/top-bg/avocado.jpg) no-repeat center center;
        background-size: cover;
        width: 100%;
        height: 235px;
        position: absolute;
        z-index: -3;
        top: 0;
        left: 0;
        right: 0;
      }
      .tp-menu {
        li {
          color: white;
        }
      }
      ul {
        li {
          a {
            color: white;
          }
        }
      }
    }
  }
  .notifications-top {
    display: block;
    padding-top: 16px;
    padding-right: 50px;
    height: 40px;
    position: relative;
    text-align: right;
    i {
      font-size: 25px;
      color: $gris;
    }
    .badge {
      position: absolute;
      right: -15px;
      bottom: -14px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #f86a38;
      padding-top: 5px;
      text-align: center;
    }
    .dropdown-menu {
      display: none;
      padding-bottom: 0;
      width: 250px;
      top: 150%;
      left: auto;
      right: -20px;

      .header {
        text-align: center;
      }
      .last {
        font-weight: 800;
        font-size: 11px;
        color: $naranja;
        text-transform: uppercase;
        padding: 10px 0;
        cursor: pointer;
        &:hover {
          background: $gris-claro;
        }
      }
    }
  }
  .top-nav {
    background: transparent;
    padding: 10px 0;
    height: 80px;
    &.search {
      .logo-nuevo {
        img {
          &.logo-negro {
            display: none;
          }
          &.logo-blanco {
            display: block;
          }
        }
      }
    }
    &.home {
      height: 180px;
      .logo-nuevo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 120px;
        z-index:99;
        img {
          &.logo-negro {
            display: none;
          }
          &.logo-blanco {
            display: block;
          }
        }
      }
      .top-text {
        margin-right: 20px;
        color: white;
        span {
          margin-right: 5px;
        }
      }
    }
    &.search {
      .top-text {
        color: white;
      }
    }
    .logo-nuevo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 30px;
      z-index:99;
      img {
        &.logo-negro {
          display: block;
        }
        &.logo-blanco {
          display: none;
        }
      }
    }
    .col-toggle {
      display: none;
    }
    .col-mid {
      display: inherit;
      font-size: 12px;
      padding-top: 5px;
      font-weight: 700;
      button {
        border: none;
        background: white;
        border-radius: 20px;
        text-transform: uppercase;
        font-size: 0.9em;
        color: $naranja;
        padding: 10px 25px;
        transition: all 0.3s ease;
        &:hover {
          background: $naranja;
          color: white;
        }
      }
      & > div {
        display: inline-block;
      }
      span > span {
        color: #0078DE;
      }
      &.ingreso {
        text-align: right;
      }
      &.myoleb2b {
        text-align: right;
        color: white;
        display: block;
        & > span {
          display: inline-block;
          padding: 8px 16px;
        }
        a {
          background: white;
          border-radius: 20px;
          float: right;

          color: $azul;
          font-size: 13px;
          transition: all 0.3s ease;
          &:hover {
            background: $naranja;
            color: white;
          }
        }
      }
      .top-text {
        margin-right: 20px;
        span {
          margin-right: 5px;
        }
      }
    }
    .logueo {
      .icono {
        margin-top: 13px;
        float: left;
      }
      .texto span {
        padding-top: 20px;
      }
      .myoleb2b {
        text-align: right;
        color: white;
        display: block;
        & > span {
          display: inline-block;
          padding: 15px 16px;
        }
        a {
          background: white;
          border-radius: 20px;
          float: right;
          padding: 8px 16px;
          color: $azul;
          font-size: 13px;
          transition: all 0.3s ease;
          &:hover {
            background: $naranja;
            color: white;
          }
        }
      }
    }
  }
}

.perfil-empresa-tabs {

}

@media (min-width: 1200px) {
  .top-nav {
    .logueo {
      .icono {
        margin-top: 23px;
        float: left;
      }
      .texto span {
        padding-top: 30px;
      }
    }
  }
  .notifications-top {
    padding-top: 27px;
  }
}
