.filtros-buscador{
  .panel-filtros{
    margin-top: 15px;
    background: lighten($gris-claro,7);

    .panel-header{
      background: $gris-claro;
      font-weight: 700;
      text-transform: uppercase;
      padding: 10px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

    }
    .panel-body{
      padding: 10px;
      ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
          padding: 10px 0;
          a{
            color: inherit;
          }
          .counter{
            float: right;
            color: $naranja;
            font-weight: 700;
            font-family: 'Roboto';
          }
        }
      }
    }
  }
}