.single-product-title{
  text-align: center;
  padding: 15px 0;
  background-image: url('../img/category-bg.png');
  background-position: center;
  background-size: cover;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  //margin-bottom: 15px;
  h2{
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    a{
      color: white;
    }
    small{
      margin-top: 4px;
      font-size: 0.6em;
      display: block;
    }
    margin: 0;
  }
}
.product-description{
  &__carousel {
    padding: 0;
    .images{
      .gallery {
        position: relative;
        &:after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: #f6f7f9;
          background-image: linear-gradient(to right, #f6f7f9 0%, #dddee0 40%, #dddee0 60%,#f6f7f9 100%);
          background-repeat: no-repeat;
          background-size: 100%;
          animation: loop-animation 2.5s forwards infinite;
        }
        &.slick-initialized{
          &:after {
            display: none;
          }
        }
      }
      height: 350px;
      overflow: hidden;
      .nav{
        display: none;
      }
      figure{
        text-align: center;
        width: 100%;
        height: 350px;
        //background: #fafafa;
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .slick-dots{
        left: 50%;
        transform:translateX(-50%);
        position: absolute;
        bottom: 0;
        li{
          display: inline-block;
          button{
            visibility: hidden;
            &:after{
              opacity: 0.8;
              content: "\f10c";
              font-family: 'FontAwesome';
              visibility: visible;
              display: block;
            }
          }
          &.slick-active{
            button:after{
              content: "\f111";
            }
          }
        }
      }
    }
  }
  .detalle{
    h1{
      text-align: center;
      font-weight: 800;
      font-size: 18px;
      text-transform: uppercase;
    }
    .empresa{
      .toggle{
        background: $verde;
        color: white;
        margin: 10px 0;
        padding: 15px;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        i{
          float: right;
        }
      }
      h1{
        text-align: left;
      }
      .datos{
        display: none;
      }
    }
    .is_organic{
      padding: 0 15px;
      text-align: center;
      img{
        max-width: 150px;
        width: 100%;
      }
    }
  }
  .precio, .precio2{
    font-weight: 800;
    color: $naranja;
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
  }
  .precio2{
    display: none;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .botones{
    &__guardar {
      padding-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        font-weight: bold;
        margin-right: 10px;
        &::hover{
          text-decoration: underline;
        }
      }
    }
    button{
      width: 100%;
      padding: 15px 15px;
      background: $naranja;
      color: white;
      text-transform: uppercase;
      font-weight: 700;
      border: none;
      margin-top: 15px;
    }
    .contacta {
      margin: 0;
      width: auto;
      padding: 0;
      background: white;
      color: $gris;
      display: block;
      //line-height: 42px;
      //height: 50px;
      font-size: 25px;
      &.active{
        color: $rojo;
      }
    }
  }
  .descripcion{
    padding: 0 12px;
    margin-top: 25px;
    .toggle{
      display: none;
      &__hide {
        display: none;
      }
    }
    &.showMore {
      max-height: 135px;
      overflow: hidden;
      transition: all 0.3s ease;
      .toggle {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        padding: 0 25px;
        text-align: center;
        color: #FF6A31;
        font-weight: bold;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
      p::before {
        content:'';
        height:150px;
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
        transition:height .25s ease;
      }
    }
    &.active {
      max-height: 1000px;
      p::before {
        display: none;
      }
      .toggle{
        bottom: -15px;
        &__hide {
          display: block;
        }
        &__show {
          display: none;
        }
      }
    }
    h4{
      font-weight: 800;
      text-transform: uppercase;
    }
  }
}
#SupplierModal{
  .modal-header{
    button{
      right: 25px;
      top: 20px;
      position: absolute;
    }
    text-align: center;
    background: $naranja;
    color: white;
  }
  .modal-body{
    padding: 0 30px;
    #product_photo{
      margin: 10px auto;
      width: auto;
      max-height: 200px;

    }
    #product_name{
      font-size: 20px;
      font-weight: 800;
      text-transform: uppercase;
      color: $naranja;
    }
    .form-group{
      margin: 0 -10px 12px;
      .formas-title{
        text-transform: uppercase;
        font-weight: 800;
        margin-top: 10px;
      }
    }
    .idioma-proveedor{
      font-size: 11px;
      text-transform: uppercase;
      text-align: center;
    }
  }
  .modal-footer{
    button{
      padding: 8px 35px;
      margin-left: 10px;
    }
  }
}
@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}
.other{
  .carrousel-related-product{
    i{
      top: 50%;
      position: absolute;
      z-index: 99;
      font-size: 20px;
      &.prev{
        left: 10px;
      }
      &.next{
        right: 10px;
      }
    }
  }
}
.other, .destacados{
  h3{
    text-align: center;
    font-weight: 800;
    //color: $naranja;
    font-size: 30px;
    text-transform: uppercase;
  }
}
@media (min-width: 992px){
  .other{
    .carrousel-related-product{
      i{
        top: 50%;
        position: absolute;
        z-index: 99;
        font-size: 25px;
        cursor: pointer;
        &.prev{
          left: -20px;
        }
        &.next{
          right: -20px;
        }
      }
    }
  }
  .other, .destacados{
    h3{
      margin: 30px 0;
    }
  }
  .product-description {
    ul{
      li{
        margin-bottom: 6px;
      }
    }
    .detalle{
      h1{
        text-align: left;
      }
      .precio{
        display: none;
      }
      .precio2{
        display: block;
        text-align: left;
        margin-top: 21px;
        small{
          display: block;
          font-size: 12px;
        }
      }
      .empresa{
        .toggle{
          display: none;
        }
        .datos{
          display: block;
        }
      }
    }
    .images {
      margin-top: 22px;
      max-height: 430px;
      .nav {
        display: inline-block;
        width: 100px;
        vertical-align: middle;
        margin-right: 10px;
        img{
          cursor: pointer;
        }
      }
      .gallery{
        height: 430px;
        width: calc(100% - 110px);
        &.alone {
          width: 100%;
        }
        figure{
          height: 430px;
        }
      }
    }
  }
}
.company-details{
  margin-top: 25px;
  .nav{
    width: 100%;
    background: $gris-claro;
    border-bottom: solid 2px lighten($gris, 20);
    &:before{
      display: none;
    }
    &:after{
      display: none;
    }
    ul{
      display: flex;
      justify-content: space-between;
      border: none;
      li{
        width: 100%;
        text-align: center;
        a{
          padding: 15px 0;
          color: $gris;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 14px;

        }
        &.active{
          a{
            border: none;
            background: transparent;
            border-bottom: solid 3px black;
            color: black;
          }
        }
      }
    }
  }
  .membership{
    padding: 20px;
    text-align: center;
    h5{
      font-weight: 800;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  .tab-pane{
    padding-top: 20px;
  }
  .detalles{
    list-style: none;
    padding: 0;
    li{
      margin-bottom: 7px;
    }
    strong{
      text-transform: uppercase;
       font-weight: 700;
      font-size: 13px;
    }
  }
  .fotos-logos{
    figure{
      position: relative;
      display: inline-block;
      cursor: pointer;
      img{
        width: auto;
        height: 200px;
      }
      &:before{
        content: "\f00e";
        font-family: 'FontAwesome';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.5);
        color: white;
        font-size: 35px;
        opacity: 0;
        transition: all 0.3s ease;

      }
      &:after{
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        position: absolute;
        background: rgba(0,0,0,0);
        transition: all 0.3s ease;
      }
      &:hover{
        &:after{
          background: rgba(0,0,0,0.6);
        }
        &:before{
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
          z-index: 99;
        }
      }
    }
  }
  .certificaciones{
    .certificado-img{
      figure{
        position: relative;
        height: 100px;
        width: 150px;
        background: $gris;
        border-radius: 4px;
        display: inline-block;
        overflow: hidden;
      }
      img{
        height: 100%;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      span{
        cursor: pointer;
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0,0,0,0.3);
        color: white;
        left: 0;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        padding: 5px;
        font-size: 12px;
        transition: all 0.3s ease;
        &:hover{
          background: rgba(0,0,0,0.4);
        }
      }
    }
  }
}
@media (min-width: 992px){
  .company-details{
    .membership{
      padding: 20px 60px;
      img{
        width: 70%;
      }
      h5{
        margin-top: 20px;
        font-weight: 800;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
  .product-description{
    &__carousel {
      .images {
        overflow: auto;
        height: auto;
        display: flex;
        align-items: flex-start;
        .nav{
          &__photo{
            width: 100px;
            height: 100px;
            margin-bottom: 10px;
            img{
              object-fit: cover;
            }
          }
        }
      }
      .gallery {

      }
    }
  }
  .carrousel-related-product{
    .item{
      padding: 10px;
    }
  }
}
@media (min-width: 1200px ){
  .product-description{
    .detalle{
      margin-top: 30px;
    }
    .images{
      margin-top: 50px;
      .gallery{
        figure{
          min-height: 420px;
        }
      }
    }
  }
}

@keyframes loop-animation {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}