.terms-list {
  h2{
    font-weight: 700;
  }
  &>div>ol{
    padding-left: 0;
    &>li{
      &:before {
        content: counters(item, ".") " ";
        counter-increment: item;
        font-size: 1.2em;
      }
    }
  }
  ol {
    counter-reset: item;
    li {
      display: block;
      margin-bottom: 10px;
      strong{
        font-size: 1.2em;
        text-transform: uppercase;
        margin-bottom: 15px;
        margin-top: 10px;
        display: inline-block;
      }
      &:before {
        content: counters(item, ".") " ";
        counter-increment: item;
        font-weight: 700;
        margin-right: 5px;
        font-size: 1em;
      }
    }
  }

}
