/*
COLORS
*/
$naranja: #FF6A31;
$verde:   #81C379;
$azul: #0078de;
$rojo: #f23d2c;
$gris-claro: #f4f4f4;
$gris: #b4b4b4;
/*
CATEGORY COLORS
*/
$categoryColors: (
       1: #81C379,
       2: #E4B588,
       3: #CB9B94,
       4: #5EA8C0,
       5: #609BC8,
       6: #FF9F22,
       7: #00A5AC,
       8: #DBB937,
       9: #AB95E1,
       10: #A88F8F,
       11: #7F99A8,
       12: #BBAA9D,
       13: #48ACF0,
       14: #CC945D,
       15: #808080
);
/*
  USAR ESTE MIXIN PARA OBTENER EL COLOR
*/
@function categoryColor($categoryID){
  @return map-get($categoryColors, $categoryID);
}

@for $i from 1 through 15{
  .category#{$i}{
    background: categoryColor($i);
  }
  .category-color#{$i}{
    color: categoryColor($i)!important;
  }
}
.background-orange{
  background: $naranja!important;
}

/*----------------------*/
.titulo-1{
  font-weight: 800;
  font-size: 27px;
  text-transform: uppercase;
}
.titulo-3{
  font-size: 20px;
  font-weight: 700;
}
.titulo-4{
  font-size: 17px;
  font-weight: 700;
}
.titulo-5{
  font-size: 14px;
  font-weight: 700;
}
.titulo-dashboard{
  //color: $naranja;
  margin: 0;
}

.dl-lines{
  dt{
    white-space: normal;
  }
}
@mixin shadow-button($color, $text){
  border: none;
  cursor: pointer;
  color: $text;

  border-radius: 4px;
  background: $color;
  padding: 10px;
  box-shadow: 0 3px 0 darken($color, 30);
  font-weight: 600;


  &:hover{
    text-decoration: none;
    color: $text;
  }
}
@mixin no-shadow-button($color, $text){
  border: none;
  cursor: pointer;
  color: $text;
  border-radius: 4px;
  background: $color;
  padding: 10px;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  a{
    color: $text;
    text-decoration: none;
  }
  &:hover, &:active, &:focus, &:visited{
    text-decoration: none;
    color: $text;
  }
}
@mixin box-shadow(){
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.2);
}
.text-roboto{
  font-family: 'Roboto', sans-serif!important;
}
.text-roboto-b{
  font-family: 'Roboto', sans-serif!important;
  font-weight: 900;
}
.boton-naranja{
  @include shadow-button($naranja, white);
}
.boton-azul{
  @include shadow-button($azul, white);
}
.boton-azul-no-shadow{
  font-size: 13px;
  @include no-shadow-button($azul, white);
}
.inline-checkbox-label{
  list-style: none;
  padding: 0;
  li{
    display: inline-block;
    margin-right: 10px;
    label{
      font-weight: 600;
      text-transform: uppercase;
      font-size: 13px;
      vertical-align: middle;
    }
  }
}