@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:700,800,900');
@import "../../commons/bootstrap-sass/_bootstrap.scss";
@import "_variables.scss";
@import "../../commons/sweetAlert/sweetalert.scss";
body{
  font-family: 'Raleway', sans-serif;
}
*, *:focus{
  outline: none!important;
}

a{
  &, &:hover, &:active, &:visited, &:focus{
    text-decoration: none!important;
    color: inherit;
  }
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15
{
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15
{
  width: 20%;
  float: left;
}
.requiredasterisk{
  position:absolute;
  right: 5px;
  bottom:12px;
  color:$naranja;
  font-size: 6px !important;
  opacity:0.7;
  transition:all 0.3s ease;
    &:hover{
      opacity:1;
    }
}
.requiredasterisklabel{
 position:relative;
 left: 60px;
  bottom:28px;
  color:$naranja;
  font-size: 6px !important;
  opacity:0.7;
  transition:all 0.3s ease;
    &:hover{
      opacity:1;
    }
}
@media (min-width: 768px)
{
  .col-sm-15
  {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px)
{
  .col-md-15
  {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px)
{
  .col-lg-15
  {
    width: 20%;
    float: left;
  }
}
.pagination{
  .active{
    span{
      background: $naranja;
      border-color: $naranja;
      transition: all 0.3s ease;
      &:hover{
        background: darken($naranja, 10);
        border-color: darken($naranja, 10);
      }
    }
  }
}
.img-lightbox {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: none;
  figure{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 10px;
  }
  img{
    max-width: 100%;
    max-height: 400px;
  }

}
@import "_nav";
@import "_home";
@import "_categories";
@import "_singleProduct";
@import "_login";
@import "_buyingRequests";
@import "_search";
@import "_contactos";
@import "_memberships";
@import "_terms_privacy";
@import "../../commons/inputFile";
@import "_footer";
